.content-26 {
  padding:145px 0;
  background: #f4f5f6; //should be change to color variable
  text-align: center;
  .lead {.font(22px); font-family: @h-font-family;
  }
  h3 {margin: 0 0 27px;}
  .features {
    img{width:78px; height:100px;}
    h6 {
      margin-top: 37px;
      font-family: @c-font-family; font-weight: bold;
    }  
    > * { margin-top: 67px;}
  }  
}



