@import '../../flat-ui-pro/less/config.less';
@import '../../flat-ui-pro/less/mixins.less';
@import '../../common-files/less/mixins.less';
@import '../../common-files/less/common.less';
@import 'sprite-icons.less';

body > section, header, footer {
    .box-sizing(border-box);
    position: relative;
    @media (max-width: 767px) {
        padding-right: 20px;
        padding-left: 20px;
    }
}

body {
    @media (max-width: 767px) {
        padding-right: 0;
        padding-left: 0;
    }
}

.delimiter {
    margin-top: 200px;
    &.line {
        margin-top: 150px;
        margin-bottom: 150px;
        border-top: 2px solid #ebedee;
    }
}

header {
  padding-top: 100px;
  padding-bottom: 150px;
  .brand {
      font-weight: bold;
      font-size: 25px;
      color: @base!important;
      img:first-child {
          float: left;
          margin: -10px 15px 0 0;
      }
  }
}

// section-1
// --------------------------------------------------

.section-1 {
    h1 {
        font-size: 45px;
        margin: 0 0 50px;
    }
    @media (max-width: 480px) {
        h1 {
          font-size: 30px;
          margin: 0 0 30px;
        }
  }
}

@header-text-color:#2c3e50;
@content-text-color:#9fa8a9;

// 14px - base font-size in flat-ui, so if it will change we should change all fonts. And this mixin do it!
.base-content-font(@font-size:16px,@color:@content-text-color, @font-family:"Lato"){
  @font-flat-ui: (@font-size/14); 
  font-size: @font-flat-ui * @base-font-size;
  font-family: @font-family;
  font-weight:normal;
  color: @color;
}
.line-height(@line-height:16px){
  @line-height-flat-ui:(@line-height/14); 
  line-height:@line-height-flat-ui * @base-font-size;
}



// sample styles ----------------------------------------------------

.content-1{
  font-weight:normal;
  h1{ .base-content-font(34px,@header-text-color,"Helvetica");  }     
  p{ .base-content-font(18px);}
  .content-block{
    margin-top:50px;
    .links-block{
      .btn-block{
        margin-bottom:16px;
        .base-content-font(15px,white);
      }
      .text{
        text-align:center;
        .base-content-font(12px);
      }
      .link{
        font-size:big;
        color: @content-text-color;
        text-decoration:underline;
      }
    }
    .video-block{
       .title{
          .base-content-font(20px,@header-text-color); 
          font-weight:bold;
          margin-bottom:20px;
       }
       p{.base-content-font;}
    }  
  }
}



.content-2{
  font-weight:normal;
  h1{ 
    .base-content-font(30px,@header-text-color,"Helvetica"); 
    font-weight: lighter; 
    margin-top:0;
  }     
  p{ .base-content-font; } 
  .button-appstore{
    margin-right:30px;
    .base-content-font(15px,white);
  }
  .link-button{
    .base-content-font(15px,#16a085);
    
  }
}



.content-3{
  @tiket-header-height: 18px;
  font-weight:normal;
  h1{ .base-content-font(30px, @header-text-color, "Helvetica"); font-weight: lighter;  }     
  p{ .base-content-font; }
  .tiket-right{
    border-radius:10px;
    position:relative;
    z-index:1;
    width:100%;
    
    &:after{
      display:block;
      content:"";
      height:0;
      zoom:1;
      clear:both;
    }
    //height:187px;
    background-color:#ebedee;
    
    .tiket-content-right{
       float:right;
       width:27%;
       
       .tiket-header{
         display:inline-block;
       -webkit-border-top-right-radius: 10px;
       -moz-border-radius-topright: 10px;
        border-top-right-radius: 10px;
        background-color: #17A98C;
        width: 100%;
        padding: 13px 0;
        height:@tiket-header-height;
        .icon-content-eye{margin: -5px 0;}
        text-align:center;
    }
       
      .tiket-content{
              display:inline-block;
              padding: 16px 0 0;
              width:100%;
              text-align:center;
              .information{
                 .base-content-font(35px, #17A98C);
                 font-weight:bold;
                 .line-height(35px);
                 text-transform:uppercase;
              }
              .label-information{
                .base-content-font(10px);
                .line-height(10px);
                text-transform:uppercase;
              }
      }
    }
    
    .tiket-left{
      padding: 0 0 16px 0;
      position:relative;
      width:72.3684%;
      height:100%;
      border-right:2px dashed #f5f6f7;
      float:left;
      z-index:2;
      
      &:after{
        background-attachment: scroll, scroll;
        background-clip: border-box, border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: url("../img/tiket-delimetr-top.png"), url("../img/tiket-delimetr-bottom.png");
        background-origin: padding-box, padding-box;
        background-position: right top, right bottom;
        background-repeat: no-repeat;
        background-size: auto auto, auto auto;
        content: "";
        display: block;
        height: 100%;
        margin-left: 98.2015%;
        position: absolute;
        width: 15px;
        z-index: 100;
      }      
         .tiket-content{
             float:left;
             padding: 16px 4.47% 0;
             width:100%;
             &.inline{ width:auto;}
            .information{
               .base-content-font(14px, #555e5f);
               font-weight:bold;
               .line-height(14px);
               text-transform:uppercase;
            }
            .label-information{
              .base-content-font(10px);
              .line-height(10px);
              text-transform:uppercase;
            }
          }
             
        .tiket-header{
         -webkit-border-top-left-radius: 10px;
         -moz-border-radius-topleft: 10px;
          border-top-left-radius: 10px;
          text-align:left;
          height:@tiket-header-height;
          background-color: #17A98C;
          float: left;
          @padding:4.47%;
          width: 100% - @padding * 1.94;
          padding:13px @padding;
          .line-height(18px);
          .base-content-font(18px, white);
          vertical-align:middle;
          border-right:2px dashed #f5f6f7;
        }           
    }
  }
  .column-layout{
    margin-top:120px;
    border-top:2px solid #ecf0f1;
    padding-top:70px;     
    .column{
      .title{
        .base-content-font(20px,@header-text-color); 
        font-weight:bold;
      }
    }
  }
}



.content-4{
  font-weight:normal;
  h1{ .base-content-font(30px, @header-text-color, "Helvetica"); font-weight: lighter; }     
  p{ .base-content-font; }
  .column-layout{
    padding-top:66px;
    .column{
      .c-icon{
        min-height: 136px;
        margin-bottom:54px;
        img{ width:80%;}
        
      }
      .title{
        .base-content-font(24px,@header-text-color);
        font-weight:bold;
      }
    }
  }
}



.content-5{
  font-weight:normal;
  h1{ .base-content-font(35px,@header-text-color,"Helvetica"); }   
  h2{ .base-content-font(25px, @content-text-color,"Helvetica"); font-weight: lighter; }
  p{.base-content-font; } 
  .logo{text-align:center;}
  
  .column-layout{
    margin-top:70px;
    .column-titles{
      .title{
        .base-content-font(22px, @header-text-color);
        font-weight:bold;
      }
    }
    .column-contents{
      margin-bottom:60px;
    }
  }
}



.content-6{
  font-weight:normal;
  h1{ .base-content-font(35px,@header-text-color,"Helvetica"); }   
  h2{ .base-content-font(25px, @content-text-color,"Helvetica"); font-weight: lighter; }
  p{.base-content-font; } 
  .logo{text-align:center; img{margin-bottom:35px;}}
  
  .column-layout{
    margin-top:70px;
    .column-titles{
      .title{
        .base-content-font(22px, @header-text-color);
        font-weight:bold;
      }
    }
    .column-contents{
      margin-bottom:60px;
    }
  }
}
