/* 62px */
/* 52px */
/* 40px */
/* 29px */
/* 28px */
/* 24px */
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.drop-ie-gradient {
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
body {
  line-height: 1.29;
}
img {
  -webkit-backface-visibility: hidden;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
/**
 * Content 3 stylesheet  
 * */
.content-3 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  margin-bottom: 24px;
}
.content-3 p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: Lato, sens-serif;
  line-height: 26px;
}
.content-3.v-center,
.content-3 .v-center {
  display: table;
  width: 100%;
}
.content-3.v-center > div,
.content-3 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  float: none;
}
@media (min-width: 768px) {
  .content-3.v-center.row:before,
  .content-3 .v-center.row:before,
  .content-3.v-center.row:after,
  .content-3 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .content-3.v-center.row,
  .content-3 .v-center.row {
    display: block;
    width: auto;
  }
  .content-3.v-center.row:before,
  .content-3 .v-center.row:before,
  .content-3.v-center.row:after,
  .content-3 .v-center.row:after {
    display: none;
  }
  .content-3.v-center.row > *,
  .content-3 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.content-3 .img {
  text-align: right;
}
@media (max-width: 767px) {
  .content-3 .img {
    text-align: center;
    margin-bottom: 30px;
  }
}
.content-3 .features h6 {
  font-size: 20px;
  font-weight: normal;
  color: #34495e;
}
.content-20 {
  padding: 198px 0;
  background: #212a33;
}
.content-20.v-center,
.content-20 .v-center {
  display: table;
  width: 100%;
}
.content-20.v-center > div,
.content-20 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  float: none;
}
@media (min-width: 768px) {
  .content-20.v-center.row:before,
  .content-20 .v-center.row:before,
  .content-20.v-center.row:after,
  .content-20 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .content-20.v-center.row,
  .content-20 .v-center.row {
    display: block;
    width: auto;
  }
  .content-20.v-center.row:before,
  .content-20 .v-center.row:before,
  .content-20.v-center.row:after,
  .content-20 .v-center.row:after {
    display: none;
  }
  .content-20.v-center.row > *,
  .content-20 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.content-20 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-20 h6 {
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  font-weight: bold;
  margin: 0 0 9px;
}
.content-20 .signup-form,
.content-20 .signup-form + div {
  display: inline-block;
  vertical-align: middle;
}
.content-20 .signup-form + div {
  margin-left: 100px;
  max-width: 300px;
}
@media (max-width: 979px) and (min-width: 768px) {
  .content-20 .signup-form + div {
    max-width: 228px;
  }
}
@media (max-width: 767px) {
  .content-20 .signup-form,
  .content-20 .signup-form + div {
    display: block;
    vertical-align: baseline;
  }
  .content-20 .signup-form + div {
    margin-top: 70px;
    margin-left: 0;
    max-width: none;
  }
}
@media (max-width: 480px) {
  .content-20 {
    display: none;
  }
}
.content-20 .signup-form {
  width: 100%;
}
.content-20 .signup-form form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin: 10px 0 0;
  padding: 37px 10.263% 76px;
  background: white;
  font-size: 15px;
  font-weight: normal;
  color: #34495e;
  font-family: Lato, sens-serif;
}
.content-20 .signup-form form .control-group {
  margin-bottom: 23px;
}
.content-20 .signup-form form .control-group.pull-left {
  margin-right: 5%;
  width: 45%;
}
.content-20 .signup-form form .control-group.pull-right {
  margin-left: 5%;
  width: 45%;
}
.content-20 .signup-form form label {
  font-size: 15px;
  font-weight: normal;
  color: #34495e;
  font-weight: bold;
  margin-bottom: 12px;
}
.content-20 .signup-form form input[type="text"],
.content-20 .signup-form form input[type="password"] {
  width: 100%;
  font-size: 16px;
  font-weight: normal;
  color: #34495e;
  border-color: #ecf0f1;
}
.content-20 .signup-form form input[type="text"]:focus,
.content-20 .signup-form form input[type="password"]:focus {
  border-color: #14ddb3;
}
.content-20 .signup-form form .site-link {
  width: 104%;
}
.content-20 .signup-form form .site-link input[type="text"],
.content-20 .signup-form form .site-link input[type="password"] {
  width: 64.4%;
  margin-right: 5%;
}
.content-20 .signup-form form .site-link b {
  display: block;
  float: right;
  padding-top: 7px;
  text-align: right;
  width: 26.9%;
}
.content-20 .signup-form form .btn.btn-primary {
  background-color: #3498db;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 17px;
  font-weight: normal;
  color: #ffffff;
  width: 100%;
}
.content-20 .signup-form form .btn.btn-primary:hover,
.content-20 .signup-form form .btn.btn-primary:focus {
  background-color: #5dade2;
}
.content-20 .signup-form form .btn.btn-primary:active,
.content-20 .signup-form form .btn.btn-primary.active {
  background-color: #2c81ba;
}
@media (max-width: 979px) and (min-width: 768px) {
  .content-20 .signup-form form {
    width: 100%;
  }
  .content-20 .signup-form form input[type="text"],
  .content-20 .signup-form form input[type="password"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }
  .content-20 .signup-form form .control-group.pull-left {
    margin-left: 0;
    float: none;
  }
}
.content-20 .features {
  margin-top: 40px;
  font-size: 14px;
  font-weight: normal;
  color: #95a5a6;
  font-family: Lato, sens-serif;
}
.content-20 .features big {
  display: block;
  font-size: 22px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-20 .features h6 {
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
  font-family: Lato, sens-serif;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .content-20 .features > * + * {
    margin-top: 30px;
  }
}
