/* 62px */
/* 52px */
/* 40px */
/* 29px */
/* 28px */
/* 24px */
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.drop-ie-gradient {
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
body {
  line-height: 1.29;
}
img {
  -webkit-backface-visibility: hidden;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
/**
 * Content 3 stylesheet  
 * */
.content-3 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  margin-bottom: 24px;
}
.content-3 p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: Lato, sens-serif;
  line-height: 26px;
}
.content-3.v-center,
.content-3 .v-center {
  display: table;
  width: 100%;
}
.content-3.v-center > div,
.content-3 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  float: none;
}
@media (min-width: 768px) {
  .content-3.v-center.row:before,
  .content-3 .v-center.row:before,
  .content-3.v-center.row:after,
  .content-3 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .content-3.v-center.row,
  .content-3 .v-center.row {
    display: block;
    width: auto;
  }
  .content-3.v-center.row:before,
  .content-3 .v-center.row:before,
  .content-3.v-center.row:after,
  .content-3 .v-center.row:after {
    display: none;
  }
  .content-3.v-center.row > *,
  .content-3 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.content-3 .img {
  text-align: right;
}
@media (max-width: 767px) {
  .content-3 .img {
    text-align: center;
    margin-bottom: 30px;
  }
}
.content-3 .features h6 {
  font-size: 20px;
  font-weight: normal;
  color: #34495e;
}
.content-25 {
  padding: 95px 0;
  background: #212a33;
}
.content-25 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-25 p {
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  font-family: Lato, sens-serif;
  font-weight: bold;
  margin-top: 45px;
}
.content-25 svg,
.content-25 .svg {
  max-width: 100%;
}
.content-25 .nosvg {
  display: none;
}
