@import '../../flat-ui/less/config.less';
@import '../../flat-ui/less/mixins.less';
/*only fo flat-ui free*/
@import '../../common-files/less/flat-ui-free2.0.0-fix.less';
/* end only for flat-ui free*/
@import '../../common-files/less/mixins.less';
@import '../../common-files/less/common.less';
// @import '../../common-files/less/navbar.less';
@import '../../common-files/less/helper.less';
@import '../../ui-kit-content/less/content-32.less';

@proxima: 'proxima-nova', sans-serif;

html, body {
  height: 100%;
}

a, button {
  &:hover, &:focus {
    outline: none;
  }
}

.presentation-mask {
  z-index: 1000;
  background-color: #000000;
  .opacity(90);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.presentation-popup-video {
  z-index: 1000;
  margin: 0 10%;
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  > * {
    width: 100%;
    height: 100%;
  }
}

.presentation-header {
  position: absolute;
  top: 100px;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  .brand > img {
    width: auto;
    max-width: none;
  }
  .navbar-inner {
    background-color: transparent;
    .nav li > a {
      .font(18px, #696b6d);
      font-family: @proxima;
      font-weight: normal;
      letter-spacing: -0.2px;
      padding: 10px 37px 10px 0;
      .a-color(#696b6d, #b7b8b9);
      &.active {
        color: #b7b8b9;
      }
    }
    .social-btns {
      li > a {
        display: inline-block;
        padding: 10px 15px 10px 0;
        > [class*="fui-"] {
          font-size: 20px;
        }
      }
    }
    .inner-btn {
      display: none;
    }
  }

  .nav-collapse.in.collapse {
    height: auto;
    display: block;
    min-width: 30%;
    background: black;
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;

    .inner-btn {
      display: block;
      float: none;
    }

    .pull-right {
      float: none;
      width: auto;
    }
    .nav li > a {
      .font(18px, #696b6d);
      font-family: @proxima;
      font-weight: normal;
      letter-spacing: -0.2px;
      padding: 20px;
      .a-color(#696b6d, #b7b8b9);
      &:hover, &:focus, &.active {
        background-color: transparent;

      }
    }
    .social-btns {
      li > a {
        display: inline-block;
        padding: 10px;
        float: left;
        > [class*="fui-"] {
          font-size: 20px;
        }
      }
    }
  }

}

.presentation-header-sub {
  height: 100%;
  overflow: hidden;
  background-color: #1b1f23;
  .background {
    .opacity(15);
    video {
      height: auto !important;
    }
  }
  .v-center {
    .v-center();
    height: 100%;
    h3 {
      .font(21px, white);
      font-family: @proxima;
      font-weight: 300;
      span {
        font-weight: 800;
      }
      text-align: right;
      padding: 15px 0;
    }
    h2 {
      margin: 0;
      .font(28px, white);
      font-family: @proxima;
      font-weight: 300;
      span {
        font-weight: 800;
        display: block;
      }
      letter-spacing: -0.25px;
    }
    .button-place {
      text-align: center;
      .btn-play {
        > [class*="fui-"] {
          .font(28px, white);
          .line-height(28px);
          &:before {
            display: inline-block;
            width: 100%;
            text-align: center;
            padding-left: 5px;
          }
        }
        width: 67px;
        height: 67px;
        .border-radius(100%);
        border: 3px white solid;
        background-color: transparent;
      }
    }
  }

}

.presentation-simple-block {
  padding-top: 150px;
  padding-bottom: 150px;
  h3 {
    .font(30px, #303336);
    font-family: @proxima;
    font-weight: 800;
    letter-spacing: -0.6px;

  }
}

.presentation-slide-block {
  padding-top: 110px;
  padding-bottom: 110px;
  .right-block {
    width: 2492px;
    position: absolute;

  }
  .presentation-controls {
    position: absolute;
    ul {
      margin: 0;
      li {
        list-style: none;
        width: 7px;
        height: 7px;
        border: 1px solid #505656;
        .rotate(45deg);
        margin-right: 12px;
        display: inline-block;
        &.active {
          border: 1px solid #303336;
          background-color: #303336;
        }
      }
    }
  }

  h1 {
    .font(45px, #303336);
    font-family: @proxima;
    font-weight: 800;
    letter-spacing: -0.6px;
    .line-height(52px);
    margin: 35px 0;
  }

  p.lead {
    .font(20px, #505656);
    font-family: @proxima;
    font-weight: normal;
    letter-spacing: 0;
    .line-height(36px);
    margin: 0;
  }

  .features {
    margin: 28px 0 0 0;
    .item {
      margin: 46px 0 0 0;
      h3 {
        margin: 35px 0 0 0;
        .font(20px, #303336);
        font-family: @proxima;
        font-weight: 800;
        letter-spacing: -0.2px;
      }

      p {
        .font(16px, #505656);
        font-family: @proxima;
        font-weight: normal;
        letter-spacing: 0;
        .line-height(26px);
        margin: 24px 0 0 0;
      }
      img {
      }
    }
  }


&.sb-1 {
  background: url("../img/slideBlock/bg-1.png") repeat 0 0;
}

  }

.presentation-componentsSamples {
  position: relative;
  background: #2c2e2f;
  font-family: @proxima;
  .presentation-componentsSamples-inner {
    position: relative;
    height: 774px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    opacity: .5;
    .cards {
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      background-size: cover;
      position: absolute;
      background-position: center center;
    }
    .layer-1 {
      background: url(../img/componentsSamples/bg-01.jpg) no-repeat;
      z-index: 120;
    }
    .layer-2 {
      background: url(../img/componentsSamples/bg-02.jpg) no-repeat;
      z-index: 119;
    }
    .layer-3 {
      background: url(../img/componentsSamples/bg-03.jpg) no-repeat;
      z-index: 118;
    }
    .layer-4 {
      background: url(../img/componentsSamples/bg-04.jpg) no-repeat;
      z-index: 117;
    }
    .layer-5 {
      background: url(../img/componentsSamples/bg-05.jpg) no-repeat;
      z-index: 116;
    }
    .layer-6 {
      background: url(../img/componentsSamples/bg-06.jpg) no-repeat;
      z-index: 115;
    }
    .layer-7 {
      background: url(../img/componentsSamples/bg-07.jpg) no-repeat;
      z-index: 114;
    }
    .layer-8 {
      background: url(../img/componentsSamples/bg-08.jpg) no-repeat;
      z-index: 113;
    }
    .layer-9 {
      background: url(../img/componentsSamples/bg-09.jpg) no-repeat;
      z-index: 112;
    }
    .layer-10 {
      background: url(../img/componentsSamples/bg-10.jpg) no-repeat;
      z-index: 111;
    }
    .layer-11 {
      background: url(../img/componentsSamples/bg-11.jpg) no-repeat;
      z-index: 110;
    }
    .layer-12 {
      background: url(../img/componentsSamples/bg-12.jpg) no-repeat;
      z-index: 109;
    }
    .layer-13 {
      background: url(../img/componentsSamples/bg-13.jpg) no-repeat;
      z-index: 108;
    }
    .layer-14 {
      background: url(../img/componentsSamples/bg-14.jpg) no-repeat;
      z-index: 107;
    }
    .layer-15 {
      background: url(../img/componentsSamples/bg-15.jpg) no-repeat;
      z-index: 106;
    }
    .layer-16 {
      background: url(../img/componentsSamples/bg-16.jpg) no-repeat;
      z-index: 105;
    }
    .layer-17 {
      background: url(../img/componentsSamples/bg-17.jpg) no-repeat;
      z-index: 104;
    }
    .layer-18 {
      background: url(../img/componentsSamples/bg-18.jpg) no-repeat;
      z-index: 103;
    }
    .layer-19 {
      background: url(../img/componentsSamples/bg-19.jpg) no-repeat;
      z-index: 102;
    }
    .layer-20 {
      background: url(../img/componentsSamples/bg-20.jpg) no-repeat;
      z-index: 101;
    }
    @media (max-width: 767px) {
      height: 500px;
    }
  }
  @media (max-width: 767px) {
    padding: 0;
  }
  a {
    display: block;
    width: 562px;
    border: 6px solid #ebebeb;
    height: 106px;
    font-size: 46px;
    line-height: 106px;
    font-weight: 800;
    position: absolute;
    top: 304px;
    left: 50%;
    margin-left: -287px;
    z-index: 121;
    letter-spacing: -2px;
    color: #ebebeb;
    text-align: center;
    @media (max-width: 767px) {
      top: 200px;
      font-size: 32px;
      width: 450px;
      height: 88px;
      line-height: 88px;
      margin-left: -231px;
    }
    @media (max-width: 479px) {
      top: 214px;
      font-size: 26px;
      width: 300px;
      height: 60px;
      line-height: 60px;
      margin-left: -156px;
    }
  }
}

.presentation-demoVersion {
  padding-top: 280px;
  height: 1115px;
  position: relative;
  color: #696f6f;

  @media (max-width: 767px) {
    padding-bottom: 35px;
    height: auto;
  }

  h1,
  h2,
  h3 {
    color: #696f6f;
  }

  > * {
    position: relative;
  }

  .background {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .opacity(100);
    > .container {
      height: 100%;
      @media (max-width: 767px) {
        height: 218px;
      }
    }

    .span4 {
      position: absolute;
      height: 100%;
      > div {
        position: absolute;
        right: 0;
        height: 100%;
        width: 1400px;
        margin: 0;
        background: url('../img/demoVersion/img.png') 100% 0 no-repeat;
        @media (max-width: 767px) {
          width: 768px;
          background-image: url('../img/demoVersion/img-mobile.png');
          background-color: #e9e8e6;
        }
      }
    }
  }
  .header {
    margin: 0 0 60px;
    h2 {
      font-size: 46px;
      color: #303336;
      line-height: 52px;
      margin: 0;
      font-weight: 800;
      letter-spacing: -3px;
      font-family: @proxima;
      @media (max-width: 767px) {
        font-size: 31px;
      }
    }
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  p {
    font-size: 20px;
    line-height: 36px;
    margin: 0 0 40px;
    font-family: @proxima;
    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 34px;
      margin-bottom: 0;
    }
  }
  .btn {
    .box-sizing(border-box);
    background: none;
    border: 2px solid #303336;
    .font(18px);
    font-weight: 500;
    padding: 18px 30px;
    color: #303336;
    &:hover, &:focus {
      background: #303336;
      color: #fff;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  h3 {
    margin: 80px 0 30px;
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
    font-family: @proxima;
    color: #303336;
    @media (max-width: 767px) {
      margin-top: 20px;
      margin-bottom: 15px;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-family: @proxima;
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
    li {
      margin: 0 0 15px;
      @media (max-width: 767px) {
        margin-bottom: 10px;
      }
    }
    strong {
      display: inline-block;
      min-width: 22px;
      color: #303336;
    }
  }
}