.footer-5 {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  color: #e6e6e6; //should be change to color variable
  .brand { display: inline-block; margin-bottom: 30px;
    img{width:35px; height:35px;}
  }
  p {.font(14px, inherit);}
  .btn {
    margin-top: 30px;
    .btn-background(#ebedee);
    color: #7f8c8d;
    [class^="fui-"] {.font(16px,@info);}
  }
}