/* 62px */
/* 52px */
/* 40px */
/* 29px */
/* 28px */
/* 24px */
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.drop-ie-gradient {
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
body {
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
.navbar .subnav {
  display: none;
}
@media (max-width: 979px) {
  .navbar .nav-collapse {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 72%;
    padding: 25px 0;
    border-radius: 0;
    float: none;
    height: auto!important;
    overflow: auto!important;
    background: #222527;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .navbar .nav-collapse::-webkit-scrollbar {
    display: none;
  }
  .navbar .nav-collapse > * {
    margin: 30px 0 0!important;
  }
  .navbar .nav-collapse > *:first-child {
    margin-top: 0!important;
  }
  .navbar .nav-collapse .nav > li {
    margin: 0;
  }
  .navbar .nav-collapse .nav > li > a {
    display: block!important;
    margin: 0;
    padding: 12px 35px;
    border-bottom: 2px solid #24292d;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: #5b5e61;
    text-transform: uppercase;
  }
  .navbar .nav-collapse .nav > li > a:hover,
  .navbar .nav-collapse .nav > li > a:focus,
  .navbar .nav-collapse .nav > li > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .nav > li.active > a {
    color: #ffffff;
  }
  .navbar .nav-collapse .nav > li.active > a:hover,
  .navbar .nav-collapse .nav > li.active > a:focus,
  .navbar .nav-collapse .nav > li.active > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .subnav {
    display: block;
    list-style: none;
  }
  .navbar .nav-collapse .subnav li > a {
    display: block;
    margin: 0;
    padding: 7px 35px;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #5b5e61;
    text-transform: capitalize;
  }
  .navbar .nav-collapse .subnav li > a:hover,
  .navbar .nav-collapse .subnav li > a:focus,
  .navbar .nav-collapse .subnav li > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .navbar-form,
  .navbar .nav-collapse .navbar-search {
    padding: 10px 35px;
  }
  body > *,
  .navbar .nav-collapse {
    -webkit-transition: left 0.4s;
    -moz-transition: left 0.4s;
    -o-transition: left 0.4s;
    transition: left 0.4s;
  }
  .nav-visible body > * {
    left: -72%;
  }
  .nav-visible .navbar .nav-collapse {
    left: 28%!important;
    visibility: visible;
  }
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* header */
/**
 * Header 15 stylesheet  
 * */
.header-15-startup-antiflicker {
  background: #171717 !important;
}
.header-15 {
  padding: 0;
  background: #171717;
  height: 80px;
  z-index: 100;
}
.header-15 .navbar {
  position: absolute;
  z-index: 2;
  top: 0;
  margin: 0;
}
.header-15 .navbar.navbar-fixed-top {
  position: fixed;
  margin: 0 auto;
  top: 0 !important;
}
.header-15 .navbar .navbar-form,
.header-15 .navbar .navbar-search {
  margin: 0;
  padding: 20px 0 19px 20px;
}
.header-15 .navbar .btn,
.header-15 .navbar .btn-group {
  margin-top: -1px;
}
.header-15 .navbar .btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px 18px 8px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}
.header-15 .navbar .btn:hover,
.header-15 .navbar .btn:focus {
  background-color: white;
  border-color: white;
  color: #171717;
}
.header-15 .navbar .btn:active,
.header-15 .navbar .btn.active {
  background-color: #bdc3c7;
  border-color: #bdc3c7;
  color: #171717;
}
.header-15 .navbar .navbar-inner {
  background: none;
}
.header-15 .navbar .brand {
  padding-left: 0;
  padding-top: 21px;
  font-size: 25px;
  font-weight: normal;
  color: #ffffff;
}
.header-15 .navbar .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
@media (min-width: 980px) {
  .header-15 .navbar .nav {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: visible;
    text-align: center;
  }
  .header-15 .navbar .nav > li {
    float: none;
    display: inline-block;
  }
}
.header-15 .navbar .nav > li {
  margin-left: 60px;
}
.header-15 .navbar .nav > li:first-child {
  margin-left: 0;
}
.header-15 .navbar .nav > li > a {
  padding: 29px 0 27px;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
}
.header-15 .navbar .nav > li > a:hover,
.header-15 .navbar .nav > li > a:focus,
.header-15 .navbar .nav > li > a.active {
  color: #bdc3c7;
}
.header-15 .navbar .nav > li.active > a {
  color: #bdc3c7;
}
.header-15 .navbar .nav > li.active > a:hover,
.header-15 .navbar .nav > li.active > a:focus,
.header-15 .navbar .nav > li.active > a.active {
  color: #bdc3c7;
}
.header-15 .navbar .btn-navbar {
  margin: 28px 0 17px;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
}
@media (max-width: 979px) {
  .header-15 .navbar .nav-collapse {
    padding-top: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 72%;
    height: auto!important;
    padding: 25px 0;
    border-radius: 0;
    float: none;
    overflow: auto!important;
    background: #222527;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .header-15 .navbar .nav-collapse::-webkit-scrollbar {
    display: none;
  }
  .header-15 .navbar .nav-collapse > * {
    margin: 30px 0 0!important;
  }
  .header-15 .navbar .nav-collapse > *:first-child {
    margin-top: 0!important;
  }
  .header-15 .navbar .nav-collapse .nav > li {
    margin: 0;
  }
  .header-15 .navbar .nav-collapse .nav > li > a {
    display: block!important;
    margin: 0;
    padding: 12px 35px;
    border-bottom: 2px solid #24292d;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: #5b5e61;
    text-transform: uppercase;
  }
  .header-15 .navbar .nav-collapse .nav > li > a:hover,
  .header-15 .navbar .nav-collapse .nav > li > a:focus,
  .header-15 .navbar .nav-collapse .nav > li > a.active {
    color: #ffffff;
  }
  .header-15 .navbar .nav-collapse .nav > li.active > a {
    color: #ffffff;
  }
  .header-15 .navbar .nav-collapse .nav > li.active > a:hover,
  .header-15 .navbar .nav-collapse .nav > li.active > a:focus,
  .header-15 .navbar .nav-collapse .nav > li.active > a.active {
    color: #ffffff;
  }
  .header-15 .navbar .nav-collapse .subnav {
    display: block;
    list-style: none;
  }
  .header-15 .navbar .nav-collapse .subnav li > a {
    display: block;
    margin: 0;
    padding: 7px 35px;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #5b5e61;
    text-transform: capitalize;
  }
  .header-15 .navbar .nav-collapse .subnav li > a:hover,
  .header-15 .navbar .nav-collapse .subnav li > a:focus,
  .header-15 .navbar .nav-collapse .subnav li > a.active {
    color: #ffffff;
  }
  .header-15 .navbar .nav-collapse .navbar-form,
  .header-15 .navbar .nav-collapse .navbar-search {
    padding: 10px 35px;
  }
}
.header-15-sub {
  min-height: 800px;
  color: white;
  text-align: center;
}
@media (max-width: 480px) {
  .header-15-sub {
    min-height: 0;
    padding-bottom: 20px;
  }
}
.header-15-sub .hero-unit {
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.header-15-sub .hero-unit h1 {
  font-size: 46px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 600;
  border: 8px solid white;
  display: inline-block;
  margin: 220px 0 200px;
  padding: 30px 40px;
}
.header-15-sub .hero-unit p {
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 4px;
}
.header-15-sub .hero-unit > [class*="fui-"] {
  display: block;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: normal;
  color: #ffffff;
}
@media (max-width: 480px) {
  .header-15-sub .hero-unit h1 {
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
    margin: 40px 0 90px;
  }
}
/* content */
/**
 * Content 3 stylesheet  
 * */
.content-3 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 24px;
}
.content-3 p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: Lato, sens-serif;
  line-height: 29.999999999999996px;
}
@media (max-width: 767px) {
  .content-3 p {
    margin-bottom: 34px;
  }
}
.content-3.v-center,
.content-3 .v-center {
  display: table;
  width: 100%;
}
.content-3.v-center > div,
.content-3 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  float: none;
}
@media (min-width: 768px) {
  .content-3.v-center.row:before,
  .content-3 .v-center.row:before,
  .content-3.v-center.row:after,
  .content-3 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .content-3.v-center.row,
  .content-3 .v-center.row {
    display: block;
    width: auto;
  }
  .content-3.v-center.row:before,
  .content-3 .v-center.row:before,
  .content-3.v-center.row:after,
  .content-3 .v-center.row:after {
    display: none;
  }
  .content-3.v-center.row > *,
  .content-3 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.content-3 .img {
  text-align: right;
}
@media (max-width: 767px) {
  .content-3 .img {
    text-align: center;
    margin-bottom: 30px;
  }
}
.content-3 .delimiter {
  margin-top: 120px;
  padding-top: 70px;
  border-top: 2px solid #ecf0f1;
}
@media (max-width: 767px) {
  .content-3 .delimiter {
    display: none;
  }
}
.content-3 .features h6 {
  font-size: 20px;
  font-weight: normal;
  color: #34495e;
  font-family: Lato, sens-serif;
  font-weight: bold;
}
.content-3 .features p {
  line-height: 26px;
}
.content-3.mirror .aligment {
  float: right;
}
.content-3.mirror .img {
  text-align: left;
}
/* footer */
/**
 * Footer 14 stylesheet  
 * */
.footer-14 {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #f4f5f6;
  line-height: 25px;
}
.footer-14 .brand {
  position: absolute;
  top: 0;
  left: 0;
}
.footer-14 a {
  color: #95a5a6;
}
.footer-14 a:hover,
.footer-14 a:focus,
.footer-14 a.active {
  color: #e74c3c;
}
.footer-14 nav {
  font-size: 16px;
  font-weight: normal;
  color: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-align: center;
  margin: 0 100px;
}
.footer-14 nav ul {
  list-style: none;
  margin: 0;
}
.footer-14 nav ul li {
  float: none;
  display: inline-block;
  margin-left: 50px;
  line-height: 25px;
}
@media (max-width: 767px) {
  .footer-14 nav ul li {
    margin-left: 20px;
  }
}
.footer-14 nav ul li:first-child {
  margin-left: 0;
}
.footer-14 .social-btns {
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;
}
.footer-14 .social-btns > * {
  display: inline-block;
  margin-left: 15px;
  font-size: 16px;
  font-weight: normal;
  color: #95a5a6;
  width: 16px;
  height: 25px;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  opacity: 1;
  filter: alpha(opacity=100);
}
.footer-14 .social-btns > *:first-child {
  margin-left: 0;
}
.footer-14 .social-btns > * > * {
  display: block;
  position: relative;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.footer-14 .social-btns > *:hover > * {
  top: -100%;
}
@media (max-width: 480px) {
  .footer-14 .brand {
    display: none;
  }
  .footer-14 nav {
    text-align: left;
    margin: 0;
  }
  .footer-14 nav ul li {
    float: none;
    margin: 18px 0 0;
    display: block;
  }
  .footer-14 nav ul li:first-child {
    margin-top: 0;
  }
  .footer-14 .social-btns {
    margin: 30px 0 0;
    position: static;
  }
}
body > section,
header,
footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
body {
  border-left: 8px solid #171717;
  border-right: 8px solid #171717;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
body > section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.header-15-sub .background {
  background-image: url("../img/img-1.jpg");
  opacity: 1;
  filter: alpha(opacity=100);
}
