/* 62px */
/* 52px */
/* 40px */
/* 29px */
/* 28px */
/* 24px */
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.drop-ie-gradient {
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/*only fo flat-ui free*/
body {
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 62.006px /* 64px */;
}
h2,
.h2 {
  font-size: 51.996px /* 52px */;
}
h3,
.h3 {
  font-size: 39.998000000000005px /* 40px */;
}
h4,
.h4 {
  font-size: 28.994000000000003px /* 29px */;
}
h5,
.h5 {
  font-size: 28px /* 28px */;
}
h6,
.h6 {
  font-size: 23.996px /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */

  line-height: 1.722169;
  /* 31px */

}
.lead {
  font-size: 28px;
  /* 28px */

  line-height: 1.4642745000000001;
  /* 41px */

  font-weight: 300;
}
small {
  font-size: 84%;
  /* 15px */

  line-height: 2.050846;
  /* 31px */

}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #1abc9c;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #15967d;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: #ffffff;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: transparent;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  box-shadow: none;
}
/* end only for flat-ui free*/
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
body {
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
@media (max-width: 768px) {
  .background {
    -webkit-background-size: auto 200%;
    -moz-background-size: auto 200%;
    -o-background-size: auto 200%;
    background-size: auto 200%;
  }
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.nav-visible .navbar .nav-collapse .nav > li > a:hover,
.nav-visible .navbar .nav-collapse .nav > li > li a:focus {
  background-color: transparent;
}
.nav-visible .nav-collapse .navbar-form,
.nav-visible .nav-collapse .navbar-search {
  border-bottom: 0 none;
  border-top: 0 none;
  box-shadow: none;
  margin: 10px 0;
  padding: 10px 15px;
}
.nav-visible .nav-collapse .navbar-form a.btn,
.nav-visible .nav-collapse .navbar-search a.btn {
  border-color: white;
  color: white;
}
.nav-visible .nav-collapse .navbar-form a.btn:hover,
.nav-visible .nav-collapse .navbar-search a.btn:hover,
.nav-visible .nav-collapse .navbar-form a.btn:focus,
.nav-visible .nav-collapse .navbar-search a.btn:focus {
  color: #7f8c8d;
  background-color: white;
}
.content-32 {
  position: relative;
  padding-top: 160px;
  padding-bottom: 155px;
  text-align: center;
  background: #f2f2f1;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-32 .lead {
  font-size: 20px;
  font-weight: normal;
  color: #7f8c8d;
  line-height: 36px;
}
.content-32 h3 {
  font-size: 35px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 40px;
  margin: 0 0 48px;
}
.content-32 .features {
  border-top: 2px solid #e6e6e5;
  margin-top: 56px;
  padding-top: 80px;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
}
@media (max-width: 767px) {
  .content-32 .features {
    padding-top: 70px;
  }
}
.content-32 .features h6 {
  text-transform: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 0 0 20px;
}
@media (max-width: 767px) {
  .content-32 .features h6 {
    margin: 20px 0 10px;
  }
}
@media (max-width: 767px) {
  .content-32 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
html,
body {
  height: 100%;
  background-color: white;
}
.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}
a:hover,
button:hover,
a:focus,
button:focus {
  outline: none;
}
.presentation-mask {
  z-index: 1000;
  background-color: #000000;
  opacity: 0.9;
  filter: alpha(opacity=90);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
.presentation-popup-video {
  z-index: 1000;
  margin: 0 10%;
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
.presentation-popup-video > * {
  width: 100%;
  height: 100%;
}
.presentation-header {
  position: absolute;
  top: 100px;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
}
.presentation-header .brand > img {
  width: auto;
  max-width: none;
}
.presentation-header .navbar-inner {
  background-color: transparent;
}
.presentation-header .navbar-inner .nav li > a {
  font-size: 18px;
  font-family: 'proxima-nova', sans-serif;
  font-weight: normal;
  letter-spacing: -0.2px;
  padding: 10px 37px 10px 0;
  color: #696b6d;
}
.presentation-header .navbar-inner .nav li > a:hover,
.presentation-header .navbar-inner .nav li > a:focus,
.presentation-header .navbar-inner .nav li > a.active {
  color: #b7b8b9;
}
.presentation-header .navbar-inner .nav li > a.active {
  color: #b7b8b9;
}
.presentation-header .navbar-inner .social-btns li > a {
  display: inline-block;
  padding: 10px 15px 10px 0;
}
.presentation-header .navbar-inner .social-btns li > a > [class*="fui-"] {
  font-size: 20px;
}
.presentation-header .navbar-inner .inner-btn {
  display: none;
}
.presentation-header .nav-collapse.in.collapse {
  height: auto;
  display: block;
  min-width: 30%;
  background: black;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
}
.presentation-header .nav-collapse.in.collapse .inner-btn {
  display: block;
  float: none;
}
.presentation-header .nav-collapse.in.collapse .pull-right {
  float: none;
  width: auto;
}
.presentation-header .nav-collapse.in.collapse .nav li > a {
  font-size: 18px;
  font-family: 'proxima-nova', sans-serif;
  font-weight: normal;
  letter-spacing: -0.2px;
  padding: 20px;
  color: #696b6d;
}
.presentation-header .nav-collapse.in.collapse .nav li > a:hover,
.presentation-header .nav-collapse.in.collapse .nav li > a:focus,
.presentation-header .nav-collapse.in.collapse .nav li > a.active {
  color: #b7b8b9;
}
.presentation-header .nav-collapse.in.collapse .nav li > a:hover,
.presentation-header .nav-collapse.in.collapse .nav li > a:focus,
.presentation-header .nav-collapse.in.collapse .nav li > a.active {
  background-color: transparent;
}
.presentation-header .nav-collapse.in.collapse .social-btns li > a {
  display: inline-block;
  padding: 10px;
  float: left;
}
.presentation-header .nav-collapse.in.collapse .social-btns li > a > [class*="fui-"] {
  font-size: 20px;
}
.presentation-header-sub {
  height: 100%;
  overflow: hidden;
  background-color: #1b1f23;
}
.presentation-header-sub .background {
  opacity: 0.15;
  filter: alpha(opacity=15);
}
.presentation-header-sub .background video {
  position: absolute !important;
}
.presentation-header-sub .v-center {
  height: 100%;
}
.presentation-header-sub .v-center.v-center,
.presentation-header-sub .v-center .v-center {
  display: table;
  width: 100%;
}
.presentation-header-sub .v-center.v-center > div,
.presentation-header-sub .v-center .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .presentation-header-sub .v-center.v-center.row:before,
  .presentation-header-sub .v-center .v-center.row:before,
  .presentation-header-sub .v-center.v-center.row:after,
  .presentation-header-sub .v-center .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .presentation-header-sub .v-center.v-center,
  .presentation-header-sub .v-center .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  .presentation-header-sub .v-center.v-center.row,
  .presentation-header-sub .v-center .v-center.row {
    display: block;
    width: auto;
  }
  .presentation-header-sub .v-center.v-center.row:before,
  .presentation-header-sub .v-center .v-center.row:before,
  .presentation-header-sub .v-center.v-center.row:after,
  .presentation-header-sub .v-center .v-center.row:after {
    display: none;
  }
  .presentation-header-sub .v-center.v-center.row > *,
  .presentation-header-sub .v-center .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.presentation-header-sub .v-center h3 {
  font-size: 21px;
  font-weight: normal;
  color: #ffffff;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 300;
  text-align: right;
  padding: 15px 0;
}
.presentation-header-sub .v-center h3 span {
  font-weight: 700;
}
.presentation-header-sub .v-center h2 {
  margin: 0;
  font-size: 28px;
  font-weight: normal;
  color: #ffffff;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 300;
  letter-spacing: -0.25px;
}
.presentation-header-sub .v-center h2 span {
  font-weight: 700;
  display: block;
}
.presentation-header-sub .v-center .button-place {
  text-align: center;
}
.presentation-header-sub .v-center .button-place .btn-play {
  width: 67px;
  height: 67px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 3px white solid;
  background-color: transparent;
}
.presentation-header-sub .v-center .button-place .btn-play > [class*="fui-"] {
  font-size: 28px;
  font-weight: normal;
  color: #ffffff;
  line-height: 28px;
}
.presentation-header-sub .v-center .button-place .btn-play > [class*="fui-"]:before {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-left: 5px;
}
.presentation-simple-block {
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative;
  z-index: 2;
  background-color: #fff;
}
@media (max-width: 768px) {
  .presentation-simple-block {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.presentation-simple-block h3 {
  font-size: 30px;
  font-weight: normal;
  color: #303336;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 700;
  letter-spacing: -0.6px;
}
.presentation-scroll-block {
  position: relative;
  z-index: 2;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}
@media (max-width: 768px) {
  .presentation-scroll-block {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.presentation-scroll-block .container {
  padding-top: 110px;
  padding-bottom: 110px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 1063px;
  width: auto;
}
.presentation-scroll-block .container .row {
  height: 100%;
  width: auto;
}
.presentation-scroll-block .right-block {
  display: inline-block;
  background-color: transparent;
  z-index: 1;
  position: absolute;
  padding-top: 46px;
}
.presentation-scroll-block .presentation-controls {
  position: absolute;
  z-index: 100;
  width: 300px;
  left: 0;
}
.presentation-scroll-block .presentation-controls ul li {
  list-style: none;
  cursor: pointer;
  width: 7px;
  height: 7px;
  border: 1px solid #505656;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-right: 12px;
  display: inline-block;
}
.presentation-scroll-block .presentation-controls ul li.active {
  border: 1px solid #303336;
  background-color: #303336;
}
.presentation-scroll-block h1 {
  font-size: 45px;
  font-weight: normal;
  color: #303336;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 700;
  letter-spacing: -0.6px;
  line-height: 52px;
  margin: 35px 0;
}
.presentation-scroll-block p.lead {
  font-size: 20px;
  color: #505656;
  font-family: 'proxima-nova', sans-serif;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 36px;
  margin: 0;
}
.presentation-scroll-block .features {
  margin: 28px 0 0 0;
}
.presentation-scroll-block .features .item {
  margin: 46px 0 0 0;
}
.presentation-scroll-block .features .item h3 {
  margin: 35px 0 0 0;
  font-size: 20px;
  font-weight: normal;
  color: #303336;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 700;
  letter-spacing: -0.2px;
}
.presentation-scroll-block .features .item p {
  font-size: 16px;
  color: #505656;
  font-family: 'proxima-nova', sans-serif;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 26px;
  margin: 24px 0 0 0;
}
.presentation-scroll-block.sb-1 {
  background: url("../img/scrollBlock/scroll-block-1-bg.png") repeat 0 0;
}
.presentation-scroll-block.sb-1 .right-block {
  width: 2490px;
  height: 899px;
  background: url('../img/scrollBlock/img-block-1.png') no-repeat left 28px;
  margin-left: -80px;
}
.presentation-scroll-block.sb-2 {
  background: url("../img/scrollBlock/scroll-block-1-bg.png") repeat 0 0;
}
.presentation-scroll-block.sb-2 .right-block {
  width: 2560px;
  height: 1063px;
  background: url('../img/scrollBlock/img-block-2.png') no-repeat left top;
  margin: 0;
  left: -3px;
  top: -1px;
  padding: 0;
  z-index: -1;
}
.presentation-scroll-block.sb-3 * {
  color: #ffffff !important;
}
.presentation-scroll-block.sb-3 .right-block {
  width: 2560px;
  height: 1063px;
  background: url('../img/scrollBlock/img-block-3.png') no-repeat left top;
  margin: 0;
  left: -10px;
  top: 0;
  padding: 0;
  z-index: -1;
}
.presentation-componentsSamples {
  position: relative;
  background: #2c2e2f;
  font-family: 'proxima-nova', sans-serif;
}
@media (max-width: 768px) {
  .presentation-componentsSamples {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.presentation-componentsSamples .presentation-componentsSamples-inner {
  position: relative;
  height: 774px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  opacity: .5;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .cards {
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  background-size: cover;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-1 {
  background-image: url(../img/componentsSamples/bg-01.jpg);
  z-index: 120;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-2 {
  background-image: url(../img/componentsSamples/bg-02.jpg);
  z-index: 119;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-3 {
  background-image: url(../img/componentsSamples/bg-03.jpg);
  z-index: 118;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-4 {
  background-image: url(../img/componentsSamples/bg-04.jpg);
  z-index: 117;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-5 {
  background-image: url(../img/componentsSamples/bg-05.jpg);
  z-index: 116;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-6 {
  background-image: url(../img/componentsSamples/bg-06.jpg);
  z-index: 115;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-7 {
  background-image: url(../img/componentsSamples/bg-07.jpg);
  z-index: 114;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-8 {
  background-image: url(../img/componentsSamples/bg-08.jpg);
  z-index: 113;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-9 {
  background-image: url(../img/componentsSamples/bg-09.jpg);
  z-index: 112;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-10 {
  background-image: url(../img/componentsSamples/bg-10.jpg);
  z-index: 111;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-11 {
  background-image: url(../img/componentsSamples/bg-11.jpg);
  z-index: 110;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-12 {
  background-image: url(../img/componentsSamples/bg-12.jpg);
  z-index: 109;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-13 {
  background-image: url(../img/componentsSamples/bg-13.jpg);
  z-index: 108;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-14 {
  background-image: url(../img/componentsSamples/bg-14.jpg);
  z-index: 107;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-15 {
  background-image: url(../img/componentsSamples/bg-15.jpg);
  z-index: 106;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-16 {
  background-image: url(../img/componentsSamples/bg-16.jpg);
  z-index: 105;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-17 {
  background-image: url(../img/componentsSamples/bg-17.jpg);
  z-index: 104;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-18 {
  background-image: url(../img/componentsSamples/bg-18.jpg);
  z-index: 103;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-19 {
  background-image: url(../img/componentsSamples/bg-19.jpg);
  z-index: 102;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-20 {
  background-image: url(../img/componentsSamples/bg-20.jpg);
  z-index: 101;
}
@media (max-width: 767px) {
  .presentation-componentsSamples .presentation-componentsSamples-inner {
    height: 500px;
  }
}
@media (max-width: 767px) {
  .presentation-componentsSamples {
    padding: 0;
  }
}
.presentation-componentsSamples a {
  display: block;
  width: 562px;
  border: 6px solid #ebebeb;
  height: 106px;
  font-size: 46px;
  line-height: 106px;
  font-weight: 700;
  position: absolute;
  top: 304px;
  left: 50%;
  margin-left: -287px;
  z-index: 121;
  letter-spacing: -2px;
  color: #ebebeb;
  text-align: center;
}
@media (max-width: 767px) {
  .presentation-componentsSamples a {
    top: 200px;
    font-size: 32px;
    width: 450px;
    height: 88px;
    line-height: 88px;
    margin-left: -231px;
  }
}
@media (max-width: 479px) {
  .presentation-componentsSamples a {
    top: 214px;
    font-size: 26px;
    width: 300px;
    height: 60px;
    line-height: 60px;
    margin-left: -156px;
  }
}
.presentation-demoVersion {
  padding-top: 280px;
  height: 1115px;
  position: relative;
  color: #696f6f;
}
@media (max-width: 768px) {
  .presentation-demoVersion {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .presentation-demoVersion {
    padding-bottom: 35px;
    height: auto;
  }
}
.presentation-demoVersion h1,
.presentation-demoVersion h2,
.presentation-demoVersion h3 {
  color: #696f6f;
}
.presentation-demoVersion > * {
  position: relative;
}
.presentation-demoVersion .background {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}
.presentation-demoVersion .background > .container {
  height: 100%;
}
@media (max-width: 767px) {
  .presentation-demoVersion .background > .container {
    height: 218px;
  }
}
.presentation-demoVersion .background .span4 {
  position: absolute;
  height: 100%;
}
.presentation-demoVersion .background .span4 > div {
  position: absolute;
  right: 0;
  height: 100%;
  width: 1400px;
  margin: 0;
  background: url('../img/demoVersion/img.png') 100% 0 no-repeat;
}
@media (max-width: 767px) {
  .presentation-demoVersion .background .span4 > div {
    width: 768px;
    background-image: url('../img/demoVersion/img-mobile.png');
    background-color: #e9e8e6;
  }
}
.presentation-demoVersion .header {
  margin: 0 0 55px;
}
.presentation-demoVersion .header h2 {
  font-size: 46px;
  color: #303336;
  line-height: 52px;
  margin: 0;
  font-weight: 700;
  letter-spacing: -3px;
  font-family: 'proxima-nova', sans-serif;
}
@media (max-width: 767px) {
  .presentation-demoVersion .header h2 {
    font-size: 31px;
    letter-spacing: -2px;
  }
}
@media (max-width: 767px) {
  .presentation-demoVersion .header {
    margin-bottom: 20px;
  }
}
.presentation-demoVersion p {
  font-size: 20px;
  line-height: 36px;
  margin: 0 0 40px;
  font-family: 'proxima-nova', sans-serif;
}
@media (max-width: 767px) {
  .presentation-demoVersion p {
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 0;
  }
}
.presentation-demoVersion .btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  border: 2px solid #303336;
  font-size: 18px;
  font-weight: normal;
  color: #7f8c8d;
  font-weight: 500;
  padding: 18px 30px;
  color: #303336;
}
.presentation-demoVersion .btn:hover,
.presentation-demoVersion .btn:focus {
  background: #303336;
  color: #fff;
}
.presentation-demoVersion .btn:link {
  text-decoration: none;
}
@media (max-width: 767px) {
  .presentation-demoVersion .btn {
    display: none;
  }
}
.presentation-demoVersion h3 {
  margin: 85px 0 25px;
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
  font-family: 'proxima-nova', sans-serif;
  color: #303336;
}
@media (max-width: 767px) {
  .presentation-demoVersion h3 {
    margin-top: 25px;
    margin-bottom: 15px;
  }
}
.presentation-demoVersion ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-family: 'proxima-nova', sans-serif;
}
@media (max-width: 767px) {
  .presentation-demoVersion ul {
    margin-bottom: 30px;
  }
}
.presentation-demoVersion ul li {
  margin: 0 0 15px;
}
@media (max-width: 767px) {
  .presentation-demoVersion ul li {
    margin-bottom: 10px;
  }
}
.presentation-demoVersion ul strong {
  display: inline-block;
  min-width: 22px;
  color: #303336;
}
.content-32 {
  color: #696f6f;
  padding-top: 15px;
  padding-bottom: 170px;
}
@media (max-width: 768px) {
  .content-32 {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .content-32 {
    padding-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .content-32 .row {
    margin-left: -20px;
  }
  .content-32 .container {
    width: 940px;
  }
  .content-32 [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }
  .content-32 .container,
  .content-32 .navbar-static-top .container,
  .content-32 .navbar-fixed-top .container,
  .content-32 .navbar-fixed-bottom .container {
    width: 940px;
  }
  .content-32 .span12 {
    width: 940px;
  }
  .content-32 .span11 {
    width: 860px;
  }
  .content-32 .span10 {
    width: 780px;
  }
  .content-32 .span9 {
    width: 700px;
  }
  .content-32 .span8 {
    width: 620px;
  }
  .content-32 .span7 {
    width: 540px;
  }
  .content-32 .span6 {
    width: 460px;
  }
  .content-32 .span5 {
    width: 380px;
  }
  .content-32 .span4 {
    width: 300px;
  }
  .content-32 .span3 {
    width: 220px;
  }
  .content-32 .span2 {
    width: 140px;
  }
  .content-32 .span1 {
    width: 60px;
  }
  .content-32 .offset12 {
    margin-left: 980px;
  }
  .content-32 .offset11 {
    margin-left: 900px;
  }
  .content-32 .offset10 {
    margin-left: 820px;
  }
  .content-32 .offset9 {
    margin-left: 740px;
  }
  .content-32 .offset8 {
    margin-left: 660px;
  }
  .content-32 .offset7 {
    margin-left: 580px;
  }
  .content-32 .offset6 {
    margin-left: 500px;
  }
  .content-32 .offset5 {
    margin-left: 420px;
  }
  .content-32 .offset4 {
    margin-left: 340px;
  }
  .content-32 .offset3 {
    margin-left: 260px;
  }
  .content-32 .offset2 {
    margin-left: 180px;
  }
  .content-32 .offset1 {
    margin-left: 100px;
  }
}
.content-32 h3 {
  font-size: 46px;
  margin-top: 170px;
  line-height: 54px;
  color: #303336;
  font-weight: 700;
  letter-spacing: -3px;
  font-family: 'proxima-nova', sans-serif;
}
@media (max-width: 767px) {
  .content-32 h3 {
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -2px;
    text-align: left;
  }
}
.content-32 .features {
  margin-top: 80px;
  padding-top: 100px;
}
.content-32 .features h6 {
  font-family: 'proxima-nova', sans-serif;
  margin-bottom: 15px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .content-32 .features h6 {
    margin-bottom: 20px;
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .content-32 .features {
    margin-top: -20px;
    border: 0;
    padding-top: 0;
    padding-bottom: 5px;
  }
}
.content-32 .lead {
  color: #696f6f;
}
@media (max-width: 767px) {
  .content-32 .lead {
    text-align: left;
    font-size: 18px;
    line-height: 34px;
  }
}
.content-32 .screenshots {
  *zoom: 1;
  margin: 110px 0 0 -20px;
}
.content-32 .screenshots:before,
.content-32 .screenshots:after {
  display: table;
  content: "";
}
.content-32 .screenshots:after {
  clear: both;
}
.content-32 .screenshots:before,
.content-32 .screenshots:after {
  display: table;
  content: "";
  line-height: 0;
}
.content-32 .screenshots:after {
  clear: both;
}
@media (max-width: 479px) {
  .content-32 .screenshots {
    margin-left: -30px;
    margin-right: -20px;
    margin-top: 50px;
  }
}
.content-32 .screenshots .screen {
  width: 25%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 20px 20px;
  text-align: center;
}
.content-32 .screenshots .screen.double {
  width: 50%;
}
@media (max-width: 479px) {
  .content-32 .screenshots .screen.double {
    width: 66.66%;
  }
}
@media (max-width: 479px) {
  .content-32 .screenshots .screen {
    padding-bottom: 10px;
    padding-left: 10px;
    width: 33.33%;
  }
}
.content-32 .screenshots img {
  vertical-align: top;
  max-width: 100%;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}
#topslider-wrapper {
  position: relative;
  background-color: #fff;
  z-index: 2;
}
#topslider-wrapper ul {
  margin: 0;
}
#topslider-wrapper ul li {
  list-style: none;
}
#topslider-wrapper .bx-wrapper {
  margin-bottom: 0;
}
#topslider-wrapper .bx-wrapper .bx-viewport {
  border-radius: 0;
  box-shadow: none;
  border: none;
}
#topsliderCtrl {
  position: absolute;
  left: 100px;
  top: 110px;
  z-index: 10;
}
#topsliderCtrl li {
  list-style: none;
  float: left;
  margin-right: 12px;
}
#topsliderCtrl li a {
  list-style: none;
  cursor: pointer;
  width: 7px;
  height: 0;
  border: 1px solid #505656;
  padding-top: 7px;
  overflow: hidden;
  display: block;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#topsliderCtrl li a:hover,
#topsliderCtrl li a:focus,
#topsliderCtrl li a.active {
  background-color: #505656;
}
.container a:link {
  text-decoration: underline;
  color: #696f6f;
}
@media (min-width: 1200px) {
  .container .container-wrapper {
    padding-left: 585px;
    padding-right: 100px;
  }
}
@media (max-width: 1200px) {
  .container .container-wrapper {
    max-width: 460px;
    padding-top: 218px;
  }
}
.container .container-title {
  font-family: 'proxima-nova', sans-serif;
  font-size: 46px;
  line-height: 52px;
  font-weight: bold;
  margin: 0;
  letter-spacing: -1px;
}
.container .container-description {
  max-width: 460px;
  margin-bottom: 66px;
}
.container .container-description p {
  font-size: 20px;
  line-height: 36px;
  color: #696f6f;
}
.container .container-extra {
  margin: 0 -20px 0 0;
}
.container .container-extra .container-extra-item {
  float: left;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 40px;
}
@media (max-width: 500px) {
  .container .container-extra .container-extra-item {
    width: auto;
    float: none;
  }
}
.container .container-extra .container-extra-item h3 {
  font-size: 20px;
  line-height: normal;
  font-family: 'proxima-nova', sans-serif;
  margin-bottom: 20px;
  font-weight: bold;
}
.container .container-extra .container-extra-item p {
  font-size: 16px;
  font-family: 'proxima-nova', sans-serif;
  line-height: 26px;
  color: #696f6f;
  margin-bottom: 0;
}
.container .container-extra .container-extra-item img {
  display: block;
  margin-bottom: 40px;
  max-width: 100%;
}
.container .author-info {
  padding-top: 38px;
  border-top: 1px solid #ededed;
}
.container .author-info .author-info-img {
  float: left;
  margin-right: 25px;
  margin-top: 7px;
}
.container .author-info p {
  font-size: 16px;
  line-height: 26px;
  color: #696f6f;
}
@media (max-width: 1200px) {
  .container .container-title {
    font-size: 31px;
  }
  .container .container-extra h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .container .container-description,
  .container .container-extra-item {
    margin-bottom: 48px;
  }
}
.container dl.tech-info,
.container dl.faq {
  color: #696f6f;
  font-family: 'proxima-nova', sans-serif;
}
.container dl.tech-info dt,
.container dl.faq dt,
.container dl.tech-info dd,
.container dl.faq dd {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  margin-bottom: 20px;
}
.container dl.tech-info dt,
.container dl.faq dt {
  float: left;
  width: 160px;
}
.container dl.tech-info dd,
.container dl.faq dd {
  display: block;
  overflow: hidden;
  color: #1b1f23;
}
.container dl.faq dt,
.container dl.faq dd {
  line-height: 26px;
}
.container dl.faq dt {
  float: none;
  display: block;
  width: auto;
  margin-bottom: 0;
  color: #1b1f23;
  font-weight: bold;
}
.container dl.faq dd {
  color: #696f6f;
  margin-left: 0;
}
.additional-slider {
  /*min-height:1032px;*/

}
.additional-slider header {
  padding-top: 230px;
  padding-bottom: 55px;
}
.additional-slider .scroller {
  margin-top: 230px;
  height: 690px;
}
.additional-slider .scroller header {
  padding-top: 0;
}
.additional-slider .scroller .mCSB_scrollTools .mCSB_draggerRail {
  background: transparent;
}
.additional-slider .scroller .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #d1d2d3;
  width: 5px;
}
.additional-slider .scroller .mCSB_container {
  padding-bottom: 107px;
}
.additional-slider .scroller-bg {
  background: url("../img/bottomSLider/text-gradient-white.png") 50% 100% repeat-x;
  height: 107px;
  position: relative;
  z-index: 2;
  margin-top: -107px;
}
@media (max-width: 1200px) {
  .additional-slider header,
  .additional-slider .scroller {
    padding-top: 109px;
    padding-bottom: 48px;
    margin-top: 0;
  }
  .additional-slider .scroller header {
    padding: 0;
  }
}
.additional-slider .container-slider {
  position: relative;
  z-index: 1;
}
.additional-slider .container-slider .bx-wrapper {
  margin-bottom: 0;
}
.additional-slider .container-slider .bx-wrapper .bx-viewport {
  border: none;
  box-shadow: none;
  left: auto;
}
.additional-slider .container-slider .bxslider {
  margin: 0;
}
.additional-slider .container-slider .bxslider li {
  overflow: hidden;
  min-height: 1032px;
}
.additional-slider .container-slider .sub-slider {
  margin: 0;
  padding: 0;
}
.additional-slider .background-img {
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  background-color: #d5e3e0;
  background-position: 100% 0;
  background-repeat: no-repeat;
}
.additional-slider .background-img .sub-slider-ctrl {
  position: absolute;
  top: 228px;
  right: 126px;
  margin: 0;
  padding: 0;
}
.additional-slider .background-img .sub-slider-ctrl li {
  list-style: none;
  line-height: 2em;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 15px;
  display: block;
  height: auto;
  min-height: 0;
}
.additional-slider .background-img .sub-slider-ctrl li a {
  color: #fff;
  border-color: #fff;
  border-style: solid;
  border-width: 5px;
  cursor: pointer;
  padding: 6px 16px 5px;
}
.additional-slider .background-img .sub-slider-ctrl li a.active,
.additional-slider .background-img .sub-slider-ctrl li a:hover,
.additional-slider .background-img .sub-slider-ctrl li a:focus {
  color: #303336;
  border-color: #303336;
}
@media (max-width: 1200px) {
  .additional-slider .background-img .sub-slider-ctrl {
    top: 15px;
    right: 150px;
  }
}
@media (max-width: 1200px) {
  .additional-slider .background-img {
    height: 218px;
    right: 0;
    margin-right: -130px;
    padding-left: 130px;
    padding-right: 130px;
  }
  .additional-slider .container-slider .bxslider li {
    min-height: 0;
  }
}
@media (min-width: 1200px) {
  .additional-slider .background-img {
    height: 1092px;
    right: 50%;
    margin-right: 100px;
  }
}
.additional-slider .container-slider-controls {
  position: absolute;
  left: 50%;
  top: 148px;
  right: 0;
  z-index: 10;
  margin-left: 0;
}
@media (max-width: 1200px) {
  .additional-slider .container-slider-controls {
    left: 0;
    top: 266px;
  }
}
.additional-slider .container-slider-controls ul {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.additional-slider .container-slider-controls ul .active a,
.additional-slider .container-slider-controls ul li a.active {
  background-position: 0 -13px;
}
.additional-slider .container-slider-controls ul .main a {
  background-position: 0 0!important;
}
.additional-slider .container-slider-controls ul li {
  list-style: none;
  width: 13px;
  height: 13px;
  float: left;
  margin-right: 12px;
  font-size: 16px;
  font-family: 'proxima-nova', sans-serif;
}
.additional-slider .container-slider-controls ul li a {
  display: block;
  overflow: hidden;
  height: 0;
  padding-top: 100%;
  width: 100%;
  background-image: url("../img/bottomSlider/bottom-slider-sprite.png");
  background-position: 0 -26px;
  transition: none;
  color: #696f6f;
  cursor: pointer;
}
.additional-slider .container-slider-controls ul li a:hover,
.additional-slider .container-slider-controls ul li afocus {
  background-position: 0 -13px;
}
.additional-slider .container-slider-controls ul.titles-on li {
  width: auto;
  height: auto;
  margin-top: -4px;
}
.additional-slider .container-slider-controls ul.titles-on li a {
  background: none;
  padding-top: 0;
  height: auto;
  width: auto;
  border-bottom: 1px dashed #696f6f;
}
.additional-slider .container-slider-controls ul.titles-on li .active,
.additional-slider .container-slider-controls ul.titles-on li a:hover,
.additional-slider .container-slider-controls ul.titles-on li a:focus {
  border-bottom: none;
  color: #303336;
}
@media (min-width: 1200px) {
  .additional-slider .container-slider-controls .trigger {
    float: left;
    width: 13px;
    height: 13px;
    margin-right: 12px;
    background-image: url("../img/bottomSlider/bottom-slider-sprite.png");
    background-position: 0 0;
  }
}
.btw-sell {
  background: #1b1f23;
}
.btw-sell .container {
  background: #1b1f23;
  min-height: 775px;
}
.btw-sell .container .inner-container {
  width: 780px;
  margin: auto;
}
.btw-sell .btw-sell-title {
  font-size: 50px;
  font-weight: bold;
  font-family: 'proxima-nova', sans-serif;
  line-height: 60px;
  color: #d7d7d7;
  letter-spacing: -2px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 50px;
}
.btw-sell abbr {
  border-bottom: none;
}
.btw-sell #btw-sell-form {
  display: block;
  text-align: center;
  margin: auto;
}
.btw-sell .field-qty {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 30px;
  padding-right: 18px;
  width: 110px;
}
.btw-sell .field-qty label {
  font-size: 17px;
  line-height: 40px;
  color: #8d8f91;
  margin-bottom: 0;
  text-align: right;
}
.btw-sell .field-qty #edit-qty {
  color: #27ae60;
  font-size: 58px;
  line-height: 60px;
  background: none;
  border: none;
  border-radius: 0;
  height: 60px;
  width: 75px;
  display: block;
  border-bottom: 1px dashed #40454b;
  margin: 0;
  padding: 0;
  text-align: right;
  margin-top: -10px;
  float: right;
}
.btw-sell .price-label {
  display: inline-block;
  width: 238px;
  height: 80px;
  line-height: 80px;
  border: 2px solid #8d8f91;
  border-radius: 6px;
  margin-left: 26px;
  margin-right: 26px;
  vertical-align: middle;
  font-size: 22px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background: none;
}
.btw-sell .price-label:hover,
.btw-sell .price-labelfocus {
  background: #27ae60;
}
.btw-sell .discount-label {
  font-size: 27px;
  color: #8d8f91;
  line-height: 2em;
  display: inline-block;
  margin-left: 21px;
  vertical-align: middle;
  width: 110px;
}
.btw-sell .multi {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("../img/bottomSlider/cross-multi.png");
  vertical-align: middle;
}
.btw-sell .btw-sell-info {
  text-align: center;
  color: #8d8f91;
  font-size: 17px;
  line-height: 25px;
  width: 180px;
  margin: 42px auto 0;
}
.btw-sell .btw-sell-info span {
  color: #fff;
}
.btw-sell .btw-sell-info a {
  text-decoration: none;
  border-bottom: 1px dashed #8d8f91;
}
.footer-social {
  background-color: #d5ddde;
}
.footer-social .soc-item {
  width: 33%;
  float: right;
}
.footer-social .soc-item a {
  display: block;
  height: 212px;
  background-color: #d5ddde;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  font-family: 'proxima-nova', sans-serif;
  font-size: 25px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}
.footer-social .soc-item a span {
  color: #fff;
  visibility: hidden;
  position: absolute;
}
.footer-social .soc-item a span.name {
  top: 25px;
  left: 25px;
}
.footer-social .soc-item a span.count {
  bottom: 28px;
  font-size: 28px;
  left: 0;
  right: 0;
  text-align: center;
}
.footer-social .soc-item a:hover,
.footer-social .soc-item a:focus {
  text-decoration: none;
}
.footer-social .soc-item a:hover span,
.footer-social .soc-item a:focus span {
  visibility: visible;
}
.footer-social .soc-item.facebook a {
  background-image: url("../img/bottomSlider/footer_icon-fb.png");
}
.footer-social .soc-item.facebook a:hover,
.footer-social .soc-item.facebook a:focus {
  background-color: #016bb6;
}
.footer-social .soc-item.twitter a {
  background-image: url("../img/bottomSlider/footer_icon-tw.png");
}
.footer-social .soc-item.twitter a:hover,
.footer-social .soc-item.twitter a:focus {
  background-color: #08c1e2;
}
.footer-social .soc-item.google a {
  background-image: url("../img/bottomSlider/footer_icon-gplus.png");
}
.footer-social .soc-item.google a:hover,
.footer-social .soc-item.google a:focus {
  background-color: #d94b34;
}
.footer-social .soc-item-holder {
  overflow: hidden;
}
.footer-social .soc-item-holder .soc-item {
  width: 50%;
}
@media (max-width: 1200px) {
  .btw-sell .container {
    width: auto;
  }
  .btw-sell .container .inner-container {
    padding: 0 20px;
    width: auto;
  }
  .footer-social {
    padding: 0;
  }
  .footer-social .container {
    width: auto;
  }
}
@media (max-width: 730px) {
  #topsliderCtrl {
    left: 20px;
  }
}
@media (max-width: 767px) {
  #topsliderCtrl {
    left: 80px;
  }
  #topslider-wrapper .presentation-scroll-block {
    padding-left: 20px;
    padding-right: 20px;
  }
  .additional-slider {
    padding: 0;
  }
  .additional-slider .bx-wrapper li .container {
    padding: 0 20px;
  }
  .additional-slider .scroller {
    height: auto;
  }
  .btw-sell {
    padding: 0;
  }
  .btw-sell .container {
    padding: 0 0 20px;
    min-height: 0;
  }
  .btw-sell .container .btw-sell-title {
    width: auto;
    font-size: 31px;
    padding-top: 50px;
    padding-bottom: 25px;
    line-height: 1em;
  }
  .btw-sell #btw-sell-form .field-qty,
  .btw-sell #btw-sell-form .multi,
  .btw-sell #btw-sell-form .price-label,
  .btw-sell #btw-sell-form .discount-label {
    display: block;
    margin: auto;
    overflow: hidden;
  }
  .btw-sell #btw-sell-form .field-qty,
  .btw-sell #btw-sell-form .multi,
  .btw-sell #btw-sell-form .price-label {
    padding-bottom: 0;
    margin-bottom: 15px;
  }
  .btw-sell #btw-sell-form .field-qty {
    padding: 0;
  }
  .btw-sell #btw-sell-form .field-qty label {
    text-align: center;
  }
  .btw-sell #btw-sell-form .field-qty #edit-qty {
    margin: 0 auto;
    float: none;
  }
  .footer-social {
    padding: 0;
  }
  .footer-social .container {
    width: auto;
  }
  .footer-social .soc-item a span.name {
    left: 0;
    right: 0;
    text-align: center;
  }
}
