/* 62px */
/* 52px */
/* 40px */
/* 29px */
/* 28px */
/* 24px */
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.drop-ie-gradient {
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/*only fo flat-ui free*/body {
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 62.006px /* 64px */;
}
h2,
.h2 {
  font-size: 51.996px /* 52px */;
}
h3,
.h3 {
  font-size: 39.998000000000005px /* 40px */;
}
h4,
.h4 {
  font-size: 28.994000000000003px /* 29px */;
}
h5,
.h5 {
  font-size: 28px /* 28px */;
}
h6,
.h6 {
  font-size: 23.996px /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */

  line-height: 1.722169;
  /* 31px */

}
.lead {
  font-size: 28px;
  /* 28px */

  line-height: 1.4642745000000001;
  /* 41px */

  font-weight: 300;
}
small {
  font-size: 84%;
  /* 15px */

  line-height: 2.050846;
  /* 31px */

}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #1abc9c;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #15967d;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: #ffffff;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: transparent;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  box-shadow: none;
}
/* end only for flat-ui free*/
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
body {
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
@media (max-width: 768px) {
  .background {
    -webkit-background-size: auto 200%;
    -moz-background-size: auto 200%;
    -o-background-size: auto 200%;
    background-size: auto 200%;
  }
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.nav-visible .navbar .nav-collapse .nav > li > a:hover,
.nav-visible .navbar .nav-collapse .nav > li > li a:focus {
  background-color: transparent;
}
.nav-visible .nav-collapse .navbar-form,
.nav-visible .nav-collapse .navbar-search {
  border-bottom: 0 none;
  border-top: 0 none;
  box-shadow: none;
  margin: 10px 0;
  padding: 10px 15px;
}
.nav-visible .nav-collapse .navbar-form a.btn,
.nav-visible .nav-collapse .navbar-search a.btn {
  border-color: white;
  color: white;
}
.nav-visible .nav-collapse .navbar-form a.btn:hover,
.nav-visible .nav-collapse .navbar-search a.btn:hover,
.nav-visible .nav-collapse .navbar-form a.btn:focus,
.nav-visible .nav-collapse .navbar-search a.btn:focus {
  color: #7f8c8d;
  background-color: white;
}
html,
body {
  height: 100%;
}
.presentation-header {
  position: absolute;
  top: 100px;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
}
.presentation-header .navbar-inner {
  background-color: transparent;
}
.presentation-header .navbar-inner .nav li > a {
  font-size: 18px;
  font-family: 'proxima-nova', sans-serif;
  font-weight: normal;
  letter-spacing: -0.2px;
  padding: 10px 37px 10px 0;
  color: #696b6d;
}
.presentation-header .navbar-inner .nav li > a:hover,
.presentation-header .navbar-inner .nav li > a:focus,
.presentation-header .navbar-inner .nav li > a.active {
  color: #b7b8b9;
}
.presentation-header .navbar-inner .social-btns li > a {
  padding: 10px 15px 10px 0;
}
.presentation-header .navbar-inner .social-btns li > a > [class*="fui-"] {
  font-size: 20px;
}
.presentation-header-sub {
  height: 100%;
  background-color: #1b1f23;
}
.presentation-header-sub .background {
  opacity: 0.15;
  filter: alpha(opacity=15);
}
.presentation-header-sub .background video {
  height: auto !important;
}
.presentation-header-sub .v-center {
  height: 100%;
}
.presentation-header-sub .v-center.v-center,
.presentation-header-sub .v-center .v-center {
  display: table;
  width: 100%;
}
.presentation-header-sub .v-center.v-center > div,
.presentation-header-sub .v-center .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .presentation-header-sub .v-center.v-center.row:before,
  .presentation-header-sub .v-center .v-center.row:before,
  .presentation-header-sub .v-center.v-center.row:after,
  .presentation-header-sub .v-center .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .presentation-header-sub .v-center.v-center,
  .presentation-header-sub .v-center .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  .presentation-header-sub .v-center.v-center.row,
  .presentation-header-sub .v-center .v-center.row {
    display: block;
    width: auto;
  }
  .presentation-header-sub .v-center.v-center.row:before,
  .presentation-header-sub .v-center .v-center.row:before,
  .presentation-header-sub .v-center.v-center.row:after,
  .presentation-header-sub .v-center .v-center.row:after {
    display: none;
  }
  .presentation-header-sub .v-center.v-center.row > *,
  .presentation-header-sub .v-center .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.presentation-header-sub .v-center h3 {
  font-size: 21px;
  font-weight: normal;
  color: #ffffff;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 300;
  padding: 15px 0;
}
.presentation-header-sub .v-center h3 span {
  font-weight: 800;
}
.presentation-header-sub .v-center h2 {
  margin: 0;
  font-size: 28px;
  font-weight: normal;
  color: #ffffff;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 300;
  letter-spacing: -0.25px;
}
.presentation-header-sub .v-center h2 span {
  font-weight: 800;
  display: block;
}
.presentation-header-sub .v-center .button-place {
  text-align: center;
}
.presentation-header-sub .v-center .button-place .btn-play {
  width: 67px;
  height: 67px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 3px white solid;
  background-color: transparent;
}
.presentation-header-sub .v-center .button-place .btn-play > [class*="fui-"] {
  font-size: 28px;
  font-weight: normal;
  color: #ffffff;
  line-height: 28px;
  padding: 0 20px;
}
.presentation-componentsSamples {
  position: relative;
  background: #2c2e2f;
  font-family: 'proxima-nova', sans-serif;
}
.presentation-componentsSamples .presentation-componentsSamples-inner {
  position: relative;
  height: 774px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  opacity: .5;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .cards {
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  background-size: cover;
  position: absolute;
  background-position: center center;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-1 {
  background: url(../img/componentsSamples/bg-01.jpg) no-repeat;
  z-index: 120;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-2 {
  background: url(../img/componentsSamples/bg-02.jpg) no-repeat;
  z-index: 119;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-3 {
  background: url(../img/componentsSamples/bg-03.jpg) no-repeat;
  z-index: 118;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-4 {
  background: url(../img/componentsSamples/bg-04.jpg) no-repeat;
  z-index: 117;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-5 {
  background: url(../img/componentsSamples/bg-05.jpg) no-repeat;
  z-index: 116;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-6 {
  background: url(../img/componentsSamples/bg-06.jpg) no-repeat;
  z-index: 115;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-7 {
  background: url(../img/componentsSamples/bg-07.jpg) no-repeat;
  z-index: 114;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-8 {
  background: url(../img/componentsSamples/bg-08.jpg) no-repeat;
  z-index: 113;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-9 {
  background: url(../img/componentsSamples/bg-09.jpg) no-repeat;
  z-index: 112;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-10 {
  background: url(../img/componentsSamples/bg-10.jpg) no-repeat;
  z-index: 111;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-11 {
  background: url(../img/componentsSamples/bg-11.jpg) no-repeat;
  z-index: 110;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-12 {
  background: url(../img/componentsSamples/bg-12.jpg) no-repeat;
  z-index: 109;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-13 {
  background: url(../img/componentsSamples/bg-13.jpg) no-repeat;
  z-index: 108;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-14 {
  background: url(../img/componentsSamples/bg-14.jpg) no-repeat;
  z-index: 107;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-15 {
  background: url(../img/componentsSamples/bg-15.jpg) no-repeat;
  z-index: 106;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-16 {
  background: url(../img/componentsSamples/bg-16.jpg) no-repeat;
  z-index: 105;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-17 {
  background: url(../img/componentsSamples/bg-17.jpg) no-repeat;
  z-index: 104;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-18 {
  background: url(../img/componentsSamples/bg-18.jpg) no-repeat;
  z-index: 103;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-19 {
  background: url(../img/componentsSamples/bg-19.jpg) no-repeat;
  z-index: 102;
}
.presentation-componentsSamples .presentation-componentsSamples-inner .layer-20 {
  background: url(../img/componentsSamples/bg-20.jpg) no-repeat;
  z-index: 101;
}
@media (max-width: 767px) {
  .presentation-componentsSamples .presentation-componentsSamples-inner {
    height: 500px;
  }
}
@media (max-width: 767px) {
  .presentation-componentsSamples {
    padding: 0;
  }
}
.presentation-componentsSamples a {
  display: block;
  width: 562px;
  border: 6px solid #ebebeb;
  height: 106px;
  font-size: 46px;
  line-height: 106px;
  font-weight: 800;
  position: absolute;
  top: 304px;
  left: 50%;
  margin-left: -287px;
  z-index: 121;
  letter-spacing: -2px;
  color: #ebebeb;
  text-align: center;
}
@media (max-width: 767px) {
  .presentation-componentsSamples a {
    top: 200px;
    font-size: 32px;
    width: 450px;
    height: 88px;
    line-height: 88px;
    margin-left: -231px;
  }
}
@media (max-width: 479px) {
  .presentation-componentsSamples a {
    top: 214px;
    font-size: 26px;
    width: 300px;
    height: 60px;
    line-height: 60px;
    margin-left: -156px;
  }
}
.presentation-demoVersion {
  padding-top: 280px;
  height: 1115px;
  position: relative;
  color: #696f6f;
}
@media (max-width: 767px) {
  .presentation-demoVersion {
    padding-bottom: 35px;
    height: auto;
  }
}
.presentation-demoVersion h1,
.presentation-demoVersion h2,
.presentation-demoVersion h3 {
  color: #696f6f;
}
.presentation-demoVersion > * {
  position: relative;
}
.presentation-demoVersion .background {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}
.presentation-demoVersion .background > .container {
  height: 100%;
}
@media (max-width: 767px) {
  .presentation-demoVersion .background > .container {
    height: 218px;
  }
}
.presentation-demoVersion .background .span4 {
  position: absolute;
  height: 100%;
}
.presentation-demoVersion .background .span4 > div {
  position: absolute;
  right: 0;
  height: 100%;
  width: 1400px;
  margin: 0;
  background: url('../img/demoVersion/img.png') 100% 0 no-repeat;
}
@media (max-width: 767px) {
  .presentation-demoVersion .background .span4 > div {
    width: 768px;
    background-image: url('../img/demoVersion/img-mobile.png');
    background-color: #e9e8e6;
  }
}
.presentation-demoVersion .header {
  margin: 0 0 60px;
}
.presentation-demoVersion .header h2 {
  font-size: 46px;
  color: #303336;
  line-height: 52px;
  margin: 0;
  font-weight: 800;
  letter-spacing: -3px;
  font-family: 'proxima-nova', sans-serif;
}
@media (max-width: 767px) {
  .presentation-demoVersion .header h2 {
    font-size: 31px;
  }
}
@media (max-width: 767px) {
  .presentation-demoVersion .header {
    margin-bottom: 20px;
  }
}
.presentation-demoVersion p {
  font-size: 20px;
  line-height: 36px;
  margin: 0 0 40px;
  font-family: 'proxima-nova', sans-serif;
}
@media (max-width: 767px) {
  .presentation-demoVersion p {
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 0;
  }
}
.presentation-demoVersion .btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  border: 2px solid #303336;
  font-size: 18px;
  font-weight: normal;
  color: #7f8c8d;
  font-weight: 500;
  padding: 18px 30px;
  color: #303336;
}
.presentation-demoVersion .btn:hover,
.presentation-demoVersion .btn:focus {
  background: #303336;
  color: #fff;
}
@media (max-width: 767px) {
  .presentation-demoVersion .btn {
    display: none;
  }
}
.presentation-demoVersion h3 {
  margin: 80px 0 30px;
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
  font-family: 'proxima-nova', sans-serif;
  color: #303336;
}
@media (max-width: 767px) {
  .presentation-demoVersion h3 {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}
.presentation-demoVersion ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-family: 'proxima-nova', sans-serif;
}
@media (max-width: 767px) {
  .presentation-demoVersion ul {
    margin-bottom: 30px;
  }
}
.presentation-demoVersion ul li {
  margin: 0 0 15px;
}
@media (max-width: 767px) {
  .presentation-demoVersion ul li {
    margin-bottom: 10px;
  }
}
.presentation-demoVersion ul strong {
  display: inline-block;
  min-width: 22px;
  color: #303336;
}
