/* 62px */
/* 52px */
/* 40px */
/* 29px */
/* 28px */
/* 24px */
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.drop-ie-gradient {
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
body {
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
body {
  color: #7f8c8d;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: 300;
}
h3 {
  font-weight: 300;
  font-size: 35px;
}
h4 {
  font-weight: normal;
  font-size: 25px;
}
h6 {
  font-size: 18px;
}
.navbar .subnav {
  display: none;
}
@media (max-width: 979px) {
  .navbar .nav-collapse {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 72%;
    padding: 25px 0;
    border-radius: 0;
    float: none;
    height: auto!important;
    overflow: auto!important;
    background: #222527;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .navbar .nav-collapse::-webkit-scrollbar {
    display: none;
  }
  .navbar .nav-collapse > * {
    margin: 30px 0 0!important;
  }
  .navbar .nav-collapse > *:first-child {
    margin-top: 0!important;
  }
  .navbar .nav-collapse .nav > li {
    margin: 0;
  }
  .navbar .nav-collapse .nav > li > a {
    display: block!important;
    margin: 0;
    padding: 12px 35px;
    border-bottom: 2px solid #24292d;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: #5b5e61;
    text-transform: uppercase;
  }
  .navbar .nav-collapse .nav > li > a:hover,
  .navbar .nav-collapse .nav > li > a:focus,
  .navbar .nav-collapse .nav > li > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .nav > li.active > a {
    color: #ffffff;
  }
  .navbar .nav-collapse .nav > li.active > a:hover,
  .navbar .nav-collapse .nav > li.active > a:focus,
  .navbar .nav-collapse .nav > li.active > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .subnav {
    display: block;
    list-style: none;
  }
  .navbar .nav-collapse .subnav li > a {
    display: block;
    margin: 0;
    padding: 7px 35px;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #5b5e61;
    text-transform: capitalize;
  }
  .navbar .nav-collapse .subnav li > a:hover,
  .navbar .nav-collapse .subnav li > a:focus,
  .navbar .nav-collapse .subnav li > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .navbar-form,
  .navbar .nav-collapse .navbar-search {
    padding: 10px 35px;
  }
  body > *,
  .navbar .nav-collapse {
    -webkit-transition: left 0.4s;
    -moz-transition: left 0.4s;
    -o-transition: left 0.4s;
    transition: left 0.4s;
  }
  .nav-visible body > * {
    left: -72%;
  }
  .nav-visible .navbar .nav-collapse {
    left: 28%!important;
    visibility: visible;
  }
}
.navbar {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 80px;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  top: -50px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar .navbar-inner {
  background: none;
  padding-top: 5px;
}
.navbar .brand {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  font-size: 25px;
  font-weight: 500;
  color: #fff!important;
}
.navbar .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
.navbar .social-btns {
  white-space: nowrap;
  position: absolute;
  top: 7px;
  right: 0;
}
.navbar .social-btns > * {
  display: inline-block;
  margin-left: 15px;
  font-size: 16px;
  width: 16px;
  height: 19px;
  overflow: hidden;
  text-align: center;
  color: #cccccc;
}
.navbar .social-btns > *:first-child {
  margin-left: 0;
}
.navbar .social-btns > * > * {
  display: block;
  position: relative;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.navbar .social-btns > * > *:first-child {
  color: #fff;
}
.navbar .social-btns > *:hover > * {
  top: -100%;
}
@media (min-width: 980px) {
  .navbar .nav {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: visible;
    text-align: center;
  }
  .navbar .nav > li {
    float: none;
    display: inline-block;
    padding: 0 10px;
  }
}
.navbar .nav > li > a {
  padding: 0;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  display: inline-block;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav > li > a.active {
  color: #cccccc;
}
.navbar .nav > li.active > a {
  color: #cccccc;
}
.navbar .nav > li.active > a:hover,
.navbar .nav > li.active > a:focus,
.navbar .nav > li.active > a.active {
  color: #cccccc;
}
.navbar .btn-navbar {
  float: none;
  margin: 0 auto 25px;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  background: none!important;
  color: #fff;
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus {
  color: #bdc3c7;
}
.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
  color: #494b4c;
}
@media (max-width: 979px) {
  .navbar .nav-collapse {
    padding-top: 75px;
  }
}
.loaded .navbar {
  -webkit-transition: .4s .8s top, 1.2s .8s opacity;
  -moz-transition: .4s .8s top, 1.2s .8s opacity;
  -o-transition: .4s .8s top, 1.2s .8s opacity;
  transition: .4s .8s top, 1.2s .8s opacity;
  top: 80px;
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 480px) {
  .navbar {
    -webkit-transition-duration: 0 !important;
    -moz-transition-duration: 0 !important;
    -o-transition-duration: 0 !important;
    transition-duration: 0 !important;
    -webkit-transition-delay: 0 !important;
    -moz-transition-delay: 0 !important;
    -o-transition-delay: 0 !important;
    transition-delay: 0 !important;
  }
  .navbar .social-btns {
    display: none;
  }
  .navbar .btn-navbar {
    float: right;
  }
}
body > section,
header,
footer > .container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer > .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
header > .container {
  position: relative;
}
body > section,
footer > .container {
  padding-top: 80px;
  padding-bottom: 80px;
}
h3 {
  margin: 0 0 20px;
}
h4 {
  margin: 0 0 15px;
}
p {
  font-size: 16px;
}
.bg-midnight-blue,
.bg-midnight-blue h1,
.bg-midnight-blue .h1,
.bg-midnight-blue h2,
.bg-midnight-blue .h2,
.bg-midnight-blue h3,
.bg-midnight-blue .h3,
.bg-midnight-blue h4,
.bg-midnight-blue .h4,
.bg-midnight-blue h5,
.bg-midnight-blue .h5,
.bg-midnight-blue h6,
.bg-midnight-blue .h6 {
  color: #fff;
}
.section-1 {
  background-image: url('../img/img-1.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 250px;
  overflow: hidden;
  color: #bdc3c7;
  text-align: center;
}
.section-1 .lead {
  font-size: 24px;
  font-weight: 300;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.section-1 .container > .row:first-child {
  opacity: 0;
  filter: alpha(opacity=0);
}
.loaded .section-1 .container > .row:first-child {
  -webkit-transition: 1.2s opacity;
  -moz-transition: 1.2s opacity;
  -o-transition: 1.2s opacity;
  transition: 1.2s opacity;
  opacity: 1;
  filter: alpha(opacity=100);
}
.section-1 .container > .row + .row {
  position: relative;
  bottom: -180px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.loaded .section-1 .container > .row + .row {
  -webkit-transition: .4s 1.2s bottom, 1.2s 1.2s opacity;
  -moz-transition: .4s 1.2s bottom, 1.2s 1.2s opacity;
  -o-transition: .4s 1.2s bottom, 1.2s 1.2s opacity;
  transition: .4s 1.2s bottom, 1.2s 1.2s opacity;
  bottom: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 480px) {
  .section-1 {
    background-attachment: scroll;
    background-position: 50% 50%!important;
  }
  .section-1 .container > .row:first-child,
  .section-1 .container > .row + .row {
    -webkit-transition-duration: 0 !important;
    -moz-transition-duration: 0 !important;
    -o-transition-duration: 0 !important;
    transition-duration: 0 !important;
    -webkit-transition-delay: 0 !important;
    -moz-transition-delay: 0 !important;
    -o-transition-delay: 0 !important;
    transition-delay: 0 !important;
  }
}
.player {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  width: 220px;
  margin: 50px auto 0;
  border: 4px solid #fff;
}
.player .btn-play {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 46px;
  height: 46px;
  margin: -23px 0 0 -23px;
  padding-left: 14px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid #fff;
}
.player > iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}
.signup-form form {
  margin: 200px auto 0;
  padding: 2%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #fff;
}
.signup-form form input,
.signup-form form button {
  float: left;
  width: 21.8%;
  margin: 0 0 0 2.3%;
}
@media (min-width: 1200px) {
  .signup-form form input,
  .signup-form form button {
    width: 22%;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  .signup-form form input,
  .signup-form form button {
    width: 21.4%;
  }
}
@media (max-width: 767px) {
  .signup-form form input,
  .signup-form form button {
    width: 23.2%;
  }
}
@media (max-width: 480px) {
  .signup-form form input,
  .signup-form form button {
    width: 100%;
    margin: 10px 0 0;
    display: block;
    float: none;
  }
}
.signup-form form input:first-child,
.signup-form form button:first-child {
  margin: 0;
}
.features p {
  line-height: 1.85;
}
.features > * {
  margin-top: 80px;
}
.features > *:first-child {
  margin-top: 0;
}
.features img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .features img {
    margin-top: 30px;
  }
}
@media (max-width: 480px) {
  .features > * {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
  }
}
footer {
  position: relative;
  background: rgba(235, 237, 238, 0.76);
}
footer .brand {
  display: inline-block;
  padding: 3px 0 0;
  color: #2c3e50;
  font-size: 25px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
}
footer .brand:hover,
footer .brand:focus,
footer .brand.active {
  color: #e74c3c;
}
footer .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
footer p {
  font-size: 16px;
  line-height: 1.6;
}
footer a {
  color: #e74c3c;
}
footer a:hover,
footer a:focus,
footer a.active {
  color: #b93d30;
}
footer h6 {
  color: #34495e;
}
footer nav h6 {
  margin: 0 0 20px;
  line-height: 1;
  color: #34495e;
}
footer nav ul {
  list-style: none;
  margin: 0;
  font-size: 16px;
}
footer nav ul li {
  margin-bottom: 5px;
}
footer nav a {
  color: #7f8c8d;
}
footer nav a:hover,
footer nav a:focus,
footer nav a.active {
  color: #667071;
}
@media (max-width: 767px) {
  footer nav .span2 {
    float: left;
    width: 50%;
  }
  footer nav .span2 + .span2 + .span2 {
    clear: left;
    margin-top: 30px;
  }
  footer nav .span2 + .span2 + .span2 + .span2 {
    clear: none;
    margin-top: 30px;
  }
}
@media (max-width: 480px) {
  footer .box {
    margin-top: 33px;
  }
  footer .box.box-first {
    margin-top: 0;
  }
  footer .brand {
    margin-bottom: 33px;
  }
}
.subscribe-form {
  padding-top: 40px;
  padding-bottom: 40px;
}
.subscribe-form .span4 {
  text-align: right;
}
@media (max-width: 767px) {
  .subscribe-form .span4 {
    text-align: center;
  }
}
.subscribe-form form {
  margin: 0;
  position: relative;
}
.subscribe-form input[type="text"] {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  color: #fff;
  line-height: 60px;
  font-size: 50px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.subscribe-form input[type="text"]:-moz-placeholder {
  color: #ffffff;
}
.subscribe-form input[type="text"]::-webkit-input-placeholder {
  color: #ffffff;
}
.subscribe-form input[type="text"].placeholder {
  color: #ffffff;
}
.subscribe-form .ani-placeholder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  padding-left: 6px;
  line-height: 60px;
  font-size: 50px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
}
.subscribe-form .btn {
  margin-top: 8px;
  font-weight: bold;
  width: 220px;
  max-width: 100%;
}
@media (max-width: 480px) {
  .subscribe-form input[type="text"],
  .subscribe-form .ani-placeholder {
    width: 100%;
    margin-bottom: 33px;
    line-height: 27px;
    font-size: 25px;
    text-align: center;
  }
}
