<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Headers</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="../flat-ui-pro/images/favicon.ico">

        <link rel="stylesheet" href="../flat-ui-pro/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../flat-ui-pro/bootstrap/css/bootstrap-responsive.css">
        <link rel="stylesheet" href="../flat-ui-pro/css/flat-ui.css">
        <link rel="stylesheet" href="../common-files/css/animations.css">
        <link rel="stylesheet" href="../ui-kit-blog/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="../flat-ui-pro/js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>


        <header>
            <div class="container">
                <a class="brand" href="#"><img src="../ui-kit-content/img/logo@2x.png" width="50" height="50" alt=""> Startup</a>
            </div>
        </header>

        <section class="startup-kit_header">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <h1>We have a great surprise for Designmodo fans our first free HTML user interface kit.</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="span7">
                        <p>
                            It contains many basic and complex components which are great for designers to have at hand: buttons,
                            inputs, button groups, selects, checkboxes and radio-buttons, tags.
                        </p>
                    </div>
                </div>
            </div><!--/.container-->
        </section>

<div class="delimiter"></div>  

include "../../ui-kit-header/for-tpl/header-1.html"
<div class="delimiter"></div> 
include "../../ui-kit-header/for-tpl/header-2.html"
<div class="delimiter"></div> 
include "../../ui-kit-header/for-tpl/header-3.html"
<div class="delimiter"></div> 
include "../../ui-kit-header/for-tpl/header-4.html"
<div class="delimiter"></div> 
include "../../ui-kit-header/for-tpl/header-5.html"
<div class="delimiter"></div> 
include "../../ui-kit-header/for-tpl/header-6.html"
<div class="delimiter"></div> 
include "../../ui-kit-header/for-tpl/header-7.html"
<div class="delimiter"></div> 
include "../../ui-kit-header/for-tpl/header-8.html"
<div class="delimiter"></div> 
include "../../ui-kit-header/for-tpl/header-9.html"
<div class="delimiter"></div> 
include "../../ui-kit-header/for-tpl/header-10.html"
<div class="delimiter"></div> 
include "../../ui-kit-header/for-tpl/header-11.html"
<div class="delimiter"></div> 
include "../../ui-kit-header/for-tpl/header-12.html"
<div class="delimiter"></div> 
include "../../ui-kit-header/for-tpl/header-13.html"
<div class="delimiter"></div> 
include "../../ui-kit-header/for-tpl/header-14.html"
<div class="delimiter"></div> 
include "../../ui-kit-header/for-tpl/header-15.html"
<div class="delimiter"></div> 
include "../../ui-kit-header/for-tpl/header-16.html"
<div class="delimiter"></div> 
include "../../ui-kit-header/for-tpl/header-17.html"
<div class="delimiter"></div> 
include "../../ui-kit-header/for-tpl/header-18.html"
<div class="delimiter"></div> 
include "../../ui-kit-header/for-tpl/header-19.html"
<div class="delimiter"></div> 
include "../../ui-kit-header/for-tpl/header-20.html"
<div class="delimiter"></div> 
include "../../ui-kit-header/for-tpl/header-21.html"
<div class="delimiter"></div> 
include "../../ui-kit-header/for-tpl/header-22.html"
<div class="delimiter"></div>   
        
    
       

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../flat-ui-pro/js/jquery-1.8.3.min.js"></script>
        <script src="../flat-ui-pro/js/bootstrap.min.js"></script>
        <!--[if lt IE 8]>
        <script src="../flat-ui-pro/js/icon-font-ie7.js"></script>
        <![endif]-->
        <script src="../common-files/js/modernizr.custom.js"></script>
        <script src="../common-files/js/page-transitions.js"></script>        
        <script src="../common-files/js/startup-kit.js"></script>
    </body>
</html>
