/* 62px */
/* 52px */
/* 40px */
/* 29px */
/* 28px */
/* 24px */
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.drop-ie-gradient {
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
body {
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
body {
  color: #7f8c8d;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: 300;
}
h3 {
  font-weight: 300;
  font-size: 30px;
}
h6 {
  font-size: 18px;
}
.navbar .subnav {
  display: none;
}
@media (max-width: 979px) {
  .navbar .nav-collapse {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 72%;
    padding: 25px 0;
    border-radius: 0;
    float: none;
    height: auto!important;
    overflow: auto!important;
    background: #222527;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .navbar .nav-collapse::-webkit-scrollbar {
    display: none;
  }
  .navbar .nav-collapse > * {
    margin: 30px 0 0!important;
  }
  .navbar .nav-collapse > *:first-child {
    margin-top: 0!important;
  }
  .navbar .nav-collapse .nav > li {
    margin: 0;
  }
  .navbar .nav-collapse .nav > li > a {
    display: block!important;
    margin: 0;
    padding: 12px 35px;
    border-bottom: 2px solid #24292d;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: #5b5e61;
    text-transform: uppercase;
  }
  .navbar .nav-collapse .nav > li > a:hover,
  .navbar .nav-collapse .nav > li > a:focus,
  .navbar .nav-collapse .nav > li > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .nav > li.active > a {
    color: #ffffff;
  }
  .navbar .nav-collapse .nav > li.active > a:hover,
  .navbar .nav-collapse .nav > li.active > a:focus,
  .navbar .nav-collapse .nav > li.active > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .subnav {
    display: block;
    list-style: none;
  }
  .navbar .nav-collapse .subnav li > a {
    display: block;
    margin: 0;
    padding: 7px 35px;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #5b5e61;
    text-transform: capitalize;
  }
  .navbar .nav-collapse .subnav li > a:hover,
  .navbar .nav-collapse .subnav li > a:focus,
  .navbar .nav-collapse .subnav li > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .navbar-form,
  .navbar .nav-collapse .navbar-search {
    padding: 10px 35px;
  }
  body > *,
  .navbar .nav-collapse {
    -webkit-transition: left 0.4s;
    -moz-transition: left 0.4s;
    -o-transition: left 0.4s;
    transition: left 0.4s;
  }
  .nav-visible body > * {
    left: -72%;
  }
  .nav-visible .navbar .nav-collapse {
    left: 28%!important;
    visibility: visible;
  }
}
.navbar {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 22px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar a {
  -webkit-transition: 0.25s color;
  -moz-transition: 0.25s color;
  -o-transition: 0.25s color;
  transition: 0.25s color;
}
.navbar .navbar-inner {
  background: none;
}
.navbar .brand {
  padding-left: 0;
  font-weight: normal;
  font-size: 25px;
  letter-spacing: 1px;
  color: #fff!important;
}
.navbar .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
.navbar .nav > li {
  margin-left: 20px;
}
.navbar .nav > li:first-child {
  margin-left: 0;
}
.navbar .nav > li > a {
  padding: 31px 0 27px;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #ffffff;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav > li > a.active {
  color: rgba(0, 0, 0, 0.4);
}
.navbar .nav > li.active > a {
  color: rgba(0, 0, 0, 0.4);
}
.navbar .nav > li.active > a:hover,
.navbar .nav > li.active > a:focus,
.navbar .nav > li.active > a.active {
  color: rgba(0, 0, 0, 0.4);
}
.navbar .btn-navbar {
  margin: 28px 0 17px;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  background: none!important;
  color: #ffffff;
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar.active {
  color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 979px) {
  .navbar .nav-collapse {
    padding-top: 40px;
  }
}
body > section,
header,
footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
body {
  -webkit-backface-visibility: hidden;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
header {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
header > .container {
  position: relative;
}
body > section,
footer {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #fff;
}
h3 {
  margin: 0 0 30px;
}
svg,
.svg {
  max-width: 100%;
}
.nosvg {
  display: none;
}
.bordered {
  border-width: 7px 0 0;
}
.bg-turquoise,
.bg-turquoise h1,
.bg-turquoise .h1,
.bg-turquoise h2,
.bg-turquoise .h2,
.bg-turquoise h3,
.bg-turquoise .h3,
.bg-turquoise h4,
.bg-turquoise .h4,
.bg-turquoise h5,
.bg-turquoise .h5,
.bg-turquoise h6,
.bg-turquoise .h6 {
  color: #fff;
}
.header {
  z-index: 50;
  left: 0;
  width: 100%;
}
.slider {
  padding: 0!important;
  height: 500px;
  overflow: hidden;
  background: #000;
  color: #fff;
}
@media (max-width: 480px) {
  .slider {
    height: 420px;
  }
}
.slider .container {
  position: relative;
}
@media (max-width: 767px) {
  .slider .container {
    margin-right: 20px;
    margin-left: 20px;
  }
}
.slider h3 {
  margin: 0 0 18px 0;
  color: #fff;
  font-size: 36px;
}
@media (max-width: 600px) {
  .slider h3 {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  .slider h3 {
    font-size: 26px;
    margin: 0 0 24px 0;
  }
}
.slider .lead {
  font-size: 30px;
  font-weight: 300;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
}
@media (max-width: 600px) {
  .slider .lead {
    font-size: 26px;
  }
}
@media (max-width: 480px) {
  .slider .lead {
    font-size: 22px;
  }
}
.slider .pt-perspective {
  position: relative;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}
.slider .pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.slider .pt-page-current,
.slider .no-js .pt-page {
  visibility: visible;
  z-index: 1;
}
.slider .pt-page-ontop {
  z-index: 999;
}
.slider .page-transitions * {
  line-height: normal;
}
.slider .page-transitions .background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.slider .page-transitions .caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 130px;
}
@media (max-width: 480px) {
  .slider .page-transitions .caption {
    bottom: 83px;
  }
}
.slider .page-transitions .controls > * {
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 415px;
  width: 20px;
  overflow: hidden;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}
.slider .page-transitions .controls > *:hover,
.slider .page-transitions .controls > *:focus,
.slider .page-transitions .controls > *.active {
  color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 480px) {
  .slider .page-transitions .controls > * {
    top: 363px;
  }
}
.slider .page-transitions .controls > *.control-next {
  left: 30px;
}
.slider .pt-page-1 .background {
  background-image: url('../img/img-1.jpg');
}
.slider .pt-page-2 .background {
  background-image: url('../img/img-2.jpg');
}
.slider .pt-page-3 .background {
  background-image: url('../img/img-3.jpg');
}
.features h6 {
  margin: 0 0 13px;
  color: #34495e;
  font-size: 24px;
  font-weight: 500;
}
.features p {
  font-size: 16px;
}
.features > [class*="span"] {
  position: relative;
  padding-top: 180px;
  padding-bottom: 50px;
}
.features > [class*="span"] > img:first-child {
  position: absolute;
  left: 0;
  top: 30px;
}
.features:last-child > [class*="span"],
.features.last > [class*="span"] {
  padding-bottom: 0;
}
@media (max-width: 767px) {
  .features > [class*="span"],
  .features:last-child > [class*="span"],
  .features.last > [class*="span"] {
    padding-top: 150px;
    padding-bottom: 20px;
  }
  .features:last-child > [class*="span"]:last-child,
  .features.last > [class*="span"]:last-child,
  .features:last-child > [class*="span"].last,
  .features.last > [class*="span"].last {
    padding-bottom: 0;
  }
}
footer {
  color: #7f8c8d;
}
@media (max-width: 480px) {
  footer {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
footer .brand {
  display: inline-block;
  margin-bottom: 12px;
  color: #34495e;
  font-size: 23.996px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
}
footer .brand:hover,
footer .brand:focus {
  color: #1abc9c;
}
footer h6 {
  margin: 0 0 20px;
}
@media (max-width: 767px) {
  footer h6 {
    margin: 0 0 5px;
  }
}
footer nav ul {
  list-style: none;
  margin: 0;
  font-size: 16px;
}
footer nav ul li {
  margin-bottom: 5px;
}
footer nav ul li a {
  color: #7f8c8d;
}
footer nav ul li a:hover,
footer nav ul li a:focus {
  color: #1abc9c;
}
@media (max-width: 480px) {
  footer nav h6 {
    margin: 0 0 12px;
  }
}
@media (max-width: 767px) {
  footer nav {
    *zoom: 1;
  }
  footer nav:before,
  footer nav:after {
    display: table;
    content: "";
  }
  footer nav:after {
    clear: both;
  }
  footer nav:before,
  footer nav:after {
    display: table;
    content: "";
    line-height: 0;
  }
  footer nav:after {
    clear: both;
  }
  footer nav .span2 {
    float: left;
    width: 30%;
    margin-left: 5%;
  }
  footer nav .span2:first-child {
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  footer nav {
    margin-bottom: 20px;
  }
}
footer .input-append input[type="text"] {
  width: 160px;
  -webkit-transition: background-color 0.25s, border-color 0.25s;
  -moz-transition: background-color 0.25s, border-color 0.25s;
  -o-transition: background-color 0.25s, border-color 0.25s;
  transition: background-color 0.25s, border-color 0.25s;
}
@media (min-width: 1200px) {
  footer .input-append input[type="text"] {
    width: 211px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  footer .input-append input[type="text"] {
    width: 106px;
  }
}
@media (max-width: 767px) {
  footer .input-append input[type="text"] {
    width: auto;
  }
}
footer .input-append input[type="text"]:hover {
  border-color: #cacfd2;
}
footer .input-append input[type="text"]:focus {
  border-color: #1abc9c;
}
footer .social-btns {
  white-space: nowrap;
}
footer .social-btns > * {
  display: inline-block;
  margin-left: 15px;
  font-size: 20px;
  width: 20px;
  height: 25px;
  overflow: hidden;
  text-align: center;
  color: #1abc9c;
}
@media (max-width: 480px) {
  footer .social-btns > * {
    margin-top: 15px;
    margin-bottom: 7px;
  }
}
footer .social-btns > *:first-child {
  margin-left: 0;
}
footer .social-btns > * > * {
  display: block;
  position: relative;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
footer .social-btns > * > *:first-child {
  color: #bdc3c7;
}
footer .social-btns > *:hover > * {
  top: -100%;
}
@media (max-width: 767px) {
  footer [class*="span"] {
    margin-top: 15px;
  }
  footer .row:first-child {
    margin-top: -15px;
  }
}
@media (max-width: 480px) {
  footer .control-group {
    margin-bottom: 0;
  }
  footer .control-group .input-append {
    margin-bottom: 0;
  }
}
