/* 62px */
/* 52px */
/* 40px */
/* 29px */
/* 28px */
/* 24px */
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.drop-ie-gradient {
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/*only fo flat-ui free*/body {
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 62.006px /* 64px */;
}
h2,
.h2 {
  font-size: 51.996px /* 52px */;
}
h3,
.h3 {
  font-size: 39.998000000000005px /* 40px */;
}
h4,
.h4 {
  font-size: 28.994000000000003px /* 29px */;
}
h5,
.h5 {
  font-size: 28px /* 28px */;
}
h6,
.h6 {
  font-size: 23.996px /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */

  line-height: 1.722169;
  /* 31px */

}
.lead {
  font-size: 28px;
  /* 28px */

  line-height: 1.4642745000000001;
  /* 41px */

  font-weight: 300;
}
small {
  font-size: 84%;
  /* 15px */

  line-height: 2.050846;
  /* 31px */

}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #1abc9c;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #15967d;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: #ffffff;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: transparent;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  box-shadow: none;
}
/* end only for flat-ui free*/
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
body {
  overflow-x: hidden;
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
.navbar .subnav {
  display: none;
}
@media (max-width: 979px) {
  .navbar .nav-collapse {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -230px;
    width: 230px;
    padding: 25px 0;
    border-radius: 0;
    float: none;
    height: auto!important;
    overflow: auto!important;
    background: #222527;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: none;
  }
  .navbar .nav-collapse::-webkit-scrollbar {
    display: none;
  }
  .navbar .nav-collapse > * {
    margin: 30px 0 0!important;
  }
  .navbar .nav-collapse > *:first-child {
    margin-top: 0!important;
  }
  .navbar .nav-collapse .nav > li {
    margin: 0;
  }
  .navbar .nav-collapse .nav > li > a {
    display: block!important;
    margin: 0;
    padding: 12px 35px;
    border-bottom: 2px solid #24292d;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: #5b5e61;
    text-transform: uppercase;
  }
  .navbar .nav-collapse .nav > li > a:hover,
  .navbar .nav-collapse .nav > li > a:focus,
  .navbar .nav-collapse .nav > li > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .nav > li.active > a {
    color: #ffffff;
  }
  .navbar .nav-collapse .nav > li.active > a:hover,
  .navbar .nav-collapse .nav > li.active > a:focus,
  .navbar .nav-collapse .nav > li.active > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .subnav {
    display: block;
    list-style: none;
  }
  .navbar .nav-collapse .subnav li > a {
    display: block;
    margin: 0;
    padding: 7px 35px;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #5b5e61;
    text-transform: capitalize;
  }
  .navbar .nav-collapse .subnav li > a:hover,
  .navbar .nav-collapse .subnav li > a:focus,
  .navbar .nav-collapse .subnav li > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .navbar-form,
  .navbar .nav-collapse .navbar-search {
    padding: 10px 35px;
    border-bottom: 0 none;
    border-top: 0 none;
    box-shadow: none;
  }
  .navbar .nav-collapse .navbar-form:focus,
  .navbar .nav-collapse .navbar-search:focus {
    outline: 0 none;
  }
  .has-header-dockbar {
    top: 66px !important;
  }
  body > header,
  body > section,
  body > div,
  body > footer {
    -webkit-backface-visibility: hidden;
    -webkit-transition: left 0.333s;
    -moz-transition: left 0.333s;
    -o-transition: left 0.333s;
    transition: left 0.333s;
    left: 0;
  }
  .navbar .nav-collapse {
    -webkit-backface-visibility: hidden;
    -webkit-transition: right 0.333s;
    -moz-transition: right 0.333s;
    -o-transition: right 0.333s;
    transition: right 0.333s;
  }
  .nav-visible body > header,
  .nav-visible body > section,
  .nav-visible body > div,
  .nav-visible body > footer {
    left: -230px;
  }
  .nav-visible .navbar .nav-collapse {
    right: 0!important;
    visibility: visible;
  }
}
@media (max-width: 767px) {
  .navbar-fixed-top .navbar-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
@media (max-width: 768px) {
  .background {
    -webkit-background-size: auto 200%;
    -moz-background-size: auto 200%;
    -o-background-size: auto 200%;
    background-size: auto 200%;
  }
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.nav-visible .navbar .nav-collapse .nav > li > a:hover,
.nav-visible .navbar .nav-collapse .nav > li > li a:focus {
  background-color: transparent;
}
.nav-visible .nav-collapse .navbar-form,
.nav-visible .nav-collapse .navbar-search {
  border-bottom: 0 none;
  border-top: 0 none;
  box-shadow: none;
  margin: 10px 0;
  padding: 10px 15px;
}
.nav-visible .nav-collapse .navbar-form a.btn,
.nav-visible .nav-collapse .navbar-search a.btn {
  border-color: white;
  color: white;
}
.nav-visible .nav-collapse .navbar-form a.btn:hover,
.nav-visible .nav-collapse .navbar-search a.btn:hover,
.nav-visible .nav-collapse .navbar-form a.btn:focus,
.nav-visible .nav-collapse .navbar-search a.btn:focus {
  color: #7f8c8d;
  background-color: white;
}
/* header */
/**
 * Header 14 stylesheet  
 * */
.header-14-sub {
  color: #bdc3c7;
  position: relative;
  padding-top: 95px;
  padding-bottom: 95px;
  text-align: center;
}
.header-14-sub h1,
.header-14-sub .h1,
.header-14-sub h2,
.header-14-sub .h2,
.header-14-sub h3,
.header-14-sub .h3,
.header-14-sub h4,
.header-14-sub .h4,
.header-14-sub h5,
.header-14-sub .h5,
.header-14-sub h6,
.header-14-sub .h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}
.header-14-sub h1 {
  font-weight: 300;
}
.header-14-sub h3 {
  font-size: 32px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 300;
}
@media (max-width: 480px) {
  .header-14-sub {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.header-14-sub h3 {
  margin: 0 0 30px;
}
.header-14-sub .header-14 {
  margin-bottom: 65px;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 8px;
}
.header-14-sub .header-14 [class*="fui-"] {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: normal;
  color: #ffffff;
}
.header-14-sub .hero-unit {
  display: table;
  border-collapse: collapse;
  padding: 0;
  margin: 190px auto 170px;
  background: transparent;
  color: white;
}
.header-14-sub .hero-unit > * {
  display: table-cell;
  vertical-align: middle;
  border: 8px solid #fff;
  padding: 25px 30px;
  text-align: left;
}
.header-14-sub .hero-unit h1 {
  margin: 0;
  font-size: 46px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
}
@media (max-width: 767px) {
  .header-14-sub .hero-unit h1 {
    text-align: center;
  }
}
.header-14-sub .hero-unit p {
  margin: 0;
  font-size: 13px;
  font-weight: normal;
  color: #ffffff;
}
@media (max-width: 480px) {
  .header-14-sub .hero-unit {
    margin: 0 auto 65px;
  }
}
.header-14-sub .subscribe-form form {
  margin: 50px 0 0;
}
.header-14-sub .subscribe-form form .input-append input[type="text"] {
  border-color: white;
  border-right: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  min-height: 0;
}
@media (max-width: 480px) {
  .header-14-sub .subscribe-form form .input-append input[type="text"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 41px;
  }
}
.header-14-sub .subscribe-form form .input-append .btn {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 0;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}
@media (max-width: 480px) {
  .header-14-sub .subscribe-form form .input-append .btn {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
}
.header-14-sub .subscribe-form .btn.btn-primary:hover,
.header-14-sub .subscribe-form .btn.btn-primary:focus {
  background-color: #e74c3c;
}
.header-14-sub .subscribe-form .btn.btn-primary:active,
.header-14-sub .subscribe-form .btn.btn-primary.active {
  background-color: #c44133;
}
@media (max-width: 480px) {
  .header-14-sub .subscribe-form .input-append,
  .header-14-sub .subscribe-form .input-append input[type="text"],
  .header-14-sub .subscribe-form .input-append .btn {
    display: block;
    width: 100%;
  }
  .header-14-sub .subscribe-form .input-append input[type="text"],
  .header-14-sub .subscribe-form .input-append .btn {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
  .header-14-sub .subscribe-form .input-append .btn {
    margin-top: 15px;
  }
}
.header-14-sub {
  padding-bottom: 120px;
  min-height: 960px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 480px) {
  .header-14-sub {
    padding-bottom: 50px;
  }
}
.header-14-sub .background {
  background-image: url("../img/img-1.jpg");
  opacity: 1;
  filter: alpha(opacity=100);
}
