/* 62px */
/* 52px */
/* 40px */
/* 29px */
/* 28px */
/* 24px */
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.drop-ie-gradient {
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
body {
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
.navbar .subnav {
  display: none;
}
@media (max-width: 979px) {
  .navbar .nav-collapse {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 72%;
    padding: 25px 0;
    border-radius: 0;
    float: none;
    height: auto!important;
    overflow: auto!important;
    background: #222527;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .navbar .nav-collapse::-webkit-scrollbar {
    display: none;
  }
  .navbar .nav-collapse > * {
    margin: 30px 0 0!important;
  }
  .navbar .nav-collapse > *:first-child {
    margin-top: 0!important;
  }
  .navbar .nav-collapse .nav > li {
    margin: 0;
  }
  .navbar .nav-collapse .nav > li > a {
    display: block!important;
    margin: 0;
    padding: 12px 35px;
    border-bottom: 2px solid #24292d;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: #5b5e61;
    text-transform: uppercase;
  }
  .navbar .nav-collapse .nav > li > a:hover,
  .navbar .nav-collapse .nav > li > a:focus,
  .navbar .nav-collapse .nav > li > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .nav > li.active > a {
    color: #ffffff;
  }
  .navbar .nav-collapse .nav > li.active > a:hover,
  .navbar .nav-collapse .nav > li.active > a:focus,
  .navbar .nav-collapse .nav > li.active > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .subnav {
    display: block;
    list-style: none;
  }
  .navbar .nav-collapse .subnav li > a {
    display: block;
    margin: 0;
    padding: 7px 35px;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #5b5e61;
    text-transform: capitalize;
  }
  .navbar .nav-collapse .subnav li > a:hover,
  .navbar .nav-collapse .subnav li > a:focus,
  .navbar .nav-collapse .subnav li > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .navbar-form,
  .navbar .nav-collapse .navbar-search {
    padding: 10px 35px;
  }
  body > *,
  .navbar .nav-collapse {
    -webkit-transition: left 0.4s;
    -moz-transition: left 0.4s;
    -o-transition: left 0.4s;
    transition: left 0.4s;
  }
  .nav-visible body > * {
    left: -72%;
  }
  .nav-visible .navbar .nav-collapse {
    left: 28%!important;
    visibility: visible;
  }
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* header */
/**
 * Header 18 stylesheet  
 * */
.header-18 {
  height: 100%;
}
.header-18 .pt-controls {
  display: block;
  position: relative;
  margin-top: -25%;
  padding-bottom: 25%;
}
@media (max-width: 979px) {
  .header-18 .pt-controls {
    margin-top: -45%;
    padding-bottom: 45%;
  }
}
.header-18 .pt-controls > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: relative;
  z-index: 9999;
  height: 41px;
  width: 35px;
  float: left;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  line-height: 38px;
  text-align: center;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.loaded .header-18 .pt-controls > * {
  opacity: 1;
  filter: alpha(opacity=100);
}
.header-18 .pt-controls > *:hover,
.header-18 .pt-controls > *:focus {
  background: rgba(0, 0, 0, 0.4);
}
.header-18 .pt-controls > *:active {
  background: rgba(0, 0, 0, 0.6);
}
@media (max-width: 767px) {
  .header-18 .pt-controls > * {
    left: 10px;
  }
}
.header-18 .pt-controls > *.pt-control-next {
  float: right;
}
@media (max-width: 767px) {
  .header-18 .pt-controls > *.pt-control-next {
    right: 10px;
  }
}
.header-18 .page-transitions.pt-first + .pt-controls .pt-control-prev {
  opacity: 0;
  filter: alpha(opacity=0);
  width: 0;
}
.header-18 .page-transitions.pt-last + .pt-controls .pt-control-next {
  opacity: 0;
  filter: alpha(opacity=0);
  width: 0;
}
.header-18 .header-18-sub {
  color: white;
}
.header-18 .header-18-sub.v-center,
.header-18 .header-18-sub .v-center {
  display: table;
  width: 100%;
}
.header-18 .header-18-sub.v-center > div,
.header-18 .header-18-sub .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  float: none;
}
@media (min-width: 768px) {
  .header-18 .header-18-sub.v-center.row:before,
  .header-18 .header-18-sub .v-center.row:before,
  .header-18 .header-18-sub.v-center.row:after,
  .header-18 .header-18-sub .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .header-18 .header-18-sub.v-center.row,
  .header-18 .header-18-sub .v-center.row {
    display: block;
    width: auto;
  }
  .header-18 .header-18-sub.v-center.row:before,
  .header-18 .header-18-sub .v-center.row:before,
  .header-18 .header-18-sub.v-center.row:after,
  .header-18 .header-18-sub .v-center.row:after {
    display: none;
  }
  .header-18 .header-18-sub.v-center.row > *,
  .header-18 .header-18-sub .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.header-18 .header-18-sub h1,
.header-18 .header-18-sub .h1,
.header-18 .header-18-sub h2,
.header-18 .header-18-sub .h2,
.header-18 .header-18-sub h3,
.header-18 .header-18-sub .h3,
.header-18 .header-18-sub h4,
.header-18 .header-18-sub .h4,
.header-18 .header-18-sub h5,
.header-18 .header-18-sub .h5,
.header-18 .header-18-sub h6,
.header-18 .header-18-sub .h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header-18 .header-18-sub header {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  padding: 0;
}
.header-18 .header-18-sub.pt-perspective {
  position: relative;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}
.header-18 .header-18-sub .pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.header-18 .header-18-sub .pt-page-current,
.header-18 .header-18-sub .no-js .pt-page {
  visibility: visible;
  z-index: 1;
}
.header-18 .header-18-sub .pt-page-ontop {
  z-index: 999;
}
.header-18 .header-18-sub .header-18-section-1 {
  display: table;
  width: 100%;
}
.header-18 .header-18-sub .header-18-section-1 > div {
  display: table-cell;
  vertical-align: middle;
  padding-top: 170px;
  padding-bottom: 170px;
  position: relative;
}
.header-18 .header-18-sub .header-18-section-1 .span5 {
  position: relative;
  -webkit-transition: .5s left, 1.2s opacity;
  -moz-transition: .5s left, 1.2s opacity;
  -o-transition: .5s left, 1.2s opacity;
  transition: .5s left, 1.2s opacity;
  left: -50%;
  opacity: 0;
  filter: alpha(opacity=0);
}
.loaded .header-18 .header-18-sub .header-18-section-1 .span5 {
  left: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}
.header-18 .header-18-sub .header-18-section-1 .span4 {
  position: relative;
  -webkit-transition: .5s left, 1.2s opacity;
  -moz-transition: .5s left, 1.2s opacity;
  -o-transition: .5s left, 1.2s opacity;
  transition: .5s left, 1.2s opacity;
  left: 50%;
  opacity: 0;
  filter: alpha(opacity=0);
}
.loaded .header-18 .header-18-sub .header-18-section-1 .span4 {
  left: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}
.header-18 .header-18-sub .header-18-section-1 .img {
  display: inline-block;
  position: relative;
}
.header-18 .header-18-sub .header-18-section-1 .img img:first-child {
  visibility: hidden;
}
.header-18 .header-18-sub .header-18-section-1 .img img {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.header-18 .header-18-sub .header-18-section-1 .img img[src*="/browser1@2x"] {
  position: absolute;
  width: 80%;
  bottom: 0;
  left: 0;
}
.header-18 .header-18-sub .header-18-section-1 .img img[src*="/iphone@2x"] {
  position: absolute;
  width: 48%;
  top: 0;
  right: 0;
}
.header-18 .header-18-sub .header-18-section-1 .img:hover img[src*="/browser1@2x"] {
  bottom: 15%;
  left: 20%;
}
.header-18 .header-18-sub .header-18-section-1 .img:hover img[src*="/iphone@2x"] {
  top: 12%;
  right: 52%;
}
.header-18 .header-18-sub .header-18-section-1 h3 {
  font-size: 36px;
  font-weight: normal;
  color: #ffffff;
  margin: 0 0 30px;
}
.header-18 .header-18-sub .header-18-section-1 p {
  font-size: 17px;
  font-weight: normal;
  color: #ffffff;
  line-height: 33.3px;
}
.header-18 .header-18-sub .header-18-section-2 {
  display: table;
  width: 100%;
}
.header-18 .header-18-sub .header-18-section-2 > div {
  display: table-cell;
  padding-bottom: 170px;
  padding-top: 170px;
  position: relative;
  vertical-align: middle;
}
.header-18 .header-18-sub footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: right;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
}
.header-18 .header-18-sub footer .btns {
  display: inline-block;
  margin-left: 25px;
}
.header-18 .header-18-sub footer .btns .btn {
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.header-18 .header-18-sub footer .btns .btn:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .header-18 .header-18-sub footer {
    text-align: center;
  }
  .header-18 .header-18-sub footer .btns {
    display: block;
    margin: 10px auto 0;
  }
}
@media (max-width: 480px) {
  .header-18 .header-18-sub footer {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .header-18 .header-18-sub footer .btns {
    margin: 26px auto 0;
  }
  .header-18 .header-18-sub footer .btns .btn {
    margin: 0;
    display: block;
  }
  .header-18 .header-18-sub footer .btns .btn + .btn {
    margin-top: 9px;
  }
}
.header-18 .header-18-sub .bg-green-sea .btn.btn-primary {
  background-color: #1f7970;
}
.header-18 .header-18-sub .bg-green-sea .btn.btn-primary:hover,
.header-18 .header-18-sub .bg-green-sea .btn.btn-primary:focus {
  background-color: #203f4b;
}
.header-18 .header-18-sub .bg-green-sea .btn.btn-primary:active,
.header-18 .header-18-sub .bg-green-sea .btn.btn-primary.active {
  background-color: #1b3640;
}
.header-18 .header-18-sub .additional-links {
  font-size: 12px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.3);
}
.header-18 .header-18-sub .additional-links a {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: underline;
}
.header-18 .header-18-sub .additional-links a:hover,
.header-18 .header-18-sub .additional-links a:focus,
.header-18 .header-18-sub .additional-links a.active {
  color: #ffffff;
}
.header-18-section-2 .img {
  display: inline-block;
  position: relative;
}
.header-18-section-2 .img img {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.header-18-section-2 .img img[src*="/twitter-2@2x"] {
  position: absolute;
  width: 85%;
  top: 16%;
  left: 0;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  backface-visibility: visible;
}
.header-18-section-2 .img:hover img[src*="/twitter-2@2x"] {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.header-18-section-2 .signup-form form {
  margin: 20px 0;
}
.header-18-section-2 .signup-form form .controls-row:first-child + .controls-row {
  display: table;
  width: 100%;
}
.header-18-section-2 .signup-form form .controls-row:first-child + .controls-row > div {
  display: table-cell;
  width: 50%;
  padding-left: 5px;
}
@media (max-width: 767px) {
  .header-18-section-2 .signup-form form .controls-row:first-child + .controls-row > div {
    padding-left: 9px;
  }
}
.header-18-section-2 .signup-form form .controls-row:first-child + .controls-row > div:first-child {
  padding-left: 0;
  padding-right: 5px;
}
@media (max-width: 767px) {
  .header-18-section-2 .signup-form form .controls-row:first-child + .controls-row > div:first-child {
    padding-right: 9px;
  }
}
.header-18-section-2 .signup-form form .controls-row:first-child + .controls-row input {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 41px;
}
.header-18-section-2 .signup-form form input[type="text"],
.header-18-section-2 .signup-form form input[type="password"] {
  border-color: #fff;
}
.header-18-section-2 .signup-form form .btn {
  color: #c0392b;
  font-weight: bold;
  font-size: 17px;
}
@media (max-width: 767px) {
  .header-18-section-2 .signup-form form .btn {
    margin: 9px 0;
  }
}
@media (max-width: 480px) {
  .header-18-section-2 .signup-form form {
    margin-bottom: 4px;
  }
}
