/* 62px */
/* 52px */
/* 40px */
/* 29px */
/* 28px */
/* 24px */
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.drop-ie-gradient {
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
body {
  line-height: 1.29;
}
img {
  -webkit-backface-visibility: hidden;
}
body {
  color: #7f8c8d;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: 300;
}
h3 {
  font-weight: 300;
}
.navbar .subnav {
  display: none;
}
@media (max-width: 979px) {
  .navbar .nav-collapse {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 72%;
    padding: 25px 0;
    border-radius: 0;
    float: none;
    height: auto!important;
    overflow: auto!important;
    background: #222527;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .navbar .nav-collapse::-webkit-scrollbar {
    display: none;
  }
  .navbar .nav-collapse > * {
    margin: 30px 0 0!important;
  }
  .navbar .nav-collapse > *:first-child {
    margin-top: 0!important;
  }
  .navbar .nav-collapse .nav > li {
    margin: 0;
  }
  .navbar .nav-collapse .nav > li > a {
    display: block!important;
    margin: 0;
    padding: 12px 35px;
    border-bottom: 2px solid #24292d;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: #5b5e61;
    text-transform: uppercase;
  }
  .navbar .nav-collapse .nav > li > a:hover,
  .navbar .nav-collapse .nav > li > a:focus,
  .navbar .nav-collapse .nav > li > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .nav > li.active > a {
    color: #ffffff;
  }
  .navbar .nav-collapse .nav > li.active > a:hover,
  .navbar .nav-collapse .nav > li.active > a:focus,
  .navbar .nav-collapse .nav > li.active > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .subnav {
    display: block;
    list-style: none;
  }
  .navbar .nav-collapse .subnav li > a {
    display: block;
    margin: 0;
    padding: 7px 35px;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #5b5e61;
    text-transform: capitalize;
  }
  .navbar .nav-collapse .subnav li > a:hover,
  .navbar .nav-collapse .subnav li > a:focus,
  .navbar .nav-collapse .subnav li > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .navbar-form,
  .navbar .nav-collapse .navbar-search {
    padding: 10px 35px;
  }
  body > *,
  .navbar .nav-collapse {
    -webkit-transition: left 0.4s;
    -moz-transition: left 0.4s;
    -o-transition: left 0.4s;
    transition: left 0.4s;
  }
  .nav-visible body > * {
    left: -72% !important;
  }
  .nav-visible .navbar .nav-collapse {
    left: 28%!important;
    visibility: visible;
  }
}
.navbar {
  margin: 10px 0 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar .navbar-form,
.navbar .navbar-search {
  margin: 0;
  padding: 20px 0 19px 35px;
}
.navbar .btn,
.navbar .btn-group {
  margin-top: -1px;
}
.navbar .btn {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
}
.navbar .btn.btn-primary {
  background-color: #16a085;
}
.navbar .btn.btn-primary:hover,
.navbar .btn.btn-primary:focus {
  background-color: #45b39d;
}
.navbar .btn.btn-primary:active,
.navbar .btn.btn-primary.active {
  background-color: #138871;
}
.navbar .navbar-inner {
  background: none;
}
.navbar .brand {
  padding-left: 0;
  font-weight: normal;
  font-size: 25px;
  color: #2c3e50!important;
  position: relative;
  overflow: hidden;
}
.navbar .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
  position: relative;
  z-index: 2;
}
.navbar .brand > span {
  position: relative;
  z-index: 1;
  left: -100%;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.6s ease-in-out;
  -moz-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}
.navbar .brand:hover > span,
.navbar .brand:focus > span {
  left: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar .nav > li {
  margin-left: 24px;
}
.navbar .nav > li:first-child {
  margin-left: 0;
}
.navbar .nav > li > a {
  padding: 29px 0 27px;
  font-weight: 500;
  font-size: 14px;
  color: #95a5a6;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav > li > a.active {
  color: #1abc9c;
}
.navbar .nav > li.active > a {
  color: #1abc9c;
}
.navbar .nav > li.active > a:hover,
.navbar .nav > li.active > a:focus,
.navbar .nav > li.active > a.active {
  color: #1abc9c;
}
.navbar .btn-navbar {
  margin: 27px 0 17px;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  background: none!important;
  color: #2c3e50;
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar.active {
  color: #1abc9c;
}
@media (max-width: 979px) {
  .navbar .nav-collapse {
    padding-top: 27px;
  }
}
body > section,
header,
footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
body > section,
footer {
  padding-top: 80px;
  padding-bottom: 80px;
}
h3 {
  margin: 0 0 10px;
}
.hero-unit {
  margin: 0 0 28px;
  padding: 0;
  background: transparent;
}
.hero-unit h1 {
  margin: 0;
  font-size: 38px;
  line-height: normal;
}
.hero-unit p {
  font-size: 28px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@media (max-width: 480px) {
  .hero-unit {
    text-align: left;
    margin: 0 0 33px;
  }
  .hero-unit h1 {
    margin: 0 0 23px;
    font-size: 25px;
    line-height: 32px;
  }
  .hero-unit p {
    font-size: 17px;
    line-height: 23px;
  }
}
.btn.btn-clear {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  border: 2px solid #16a085;
}
.btn.btn-clear:hover,
.btn.btn-clear:focus {
  border-color: #009c84;
  background: #009c84;
}
.btn.btn-clear:active,
.btn.btn-clear.active {
  border-color: #138871;
  background: #138871;
  color: rgba(255, 255, 255, 0.75);
}
.btn.btn-clear [class*="fui-"] {
  font-size: 30px;
  margin: 0 15px 0 -5px;
}
@media (max-width: 480px) {
  .btn.btn-clear {
    font-size: 18px;
    display: block;
  }
  .btn.btn-clear [class*="fui-"] {
    float: left;
  }
}
.v-center {
  display: table;
  width: 100%;
}
.v-center > * {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  float: none;
}
@media (max-width: 767px) {
  .v-center.row {
    display: block;
    width: auto;
  }
  .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.section-1 {
  padding-top: 105px;
  padding-bottom: 105px;
  background: #1f2225;
  color: #7f8c8d;
}
.section-1 .hero-unit,
.section-1 big,
.section-1 h1,
.section-1 .h1,
.section-1 h2,
.section-1 .h2,
.section-1 h3,
.section-1 .h3,
.section-1 h4,
.section-1 .h4,
.section-1 h5,
.section-1 .h5,
.section-1 h6,
.section-1 .h6 {
  color: #fff;
}
.section-1 .btn.btn-clear {
  color: #1abc9c;
}
.section-1 .btn.btn-clear:hover,
.section-1 .btn.btn-clear:focus {
  color: #fff;
}
.section-1 .btn.btn-clear:active,
.section-1 .btn.btn-clear.active {
  color: rgba(255, 255, 255, 0.75);
}
.section-1 big {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 1.45;
}
.section-1 h6 {
  font-size: 18px;
  font-weight: bold;
}
.section-1 .pt-perspective {
  position: relative;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}
.section-1 .pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.section-1 .pt-page-current,
.section-1 .no-js .pt-page {
  visibility: visible;
  z-index: 1;
}
.section-1 .pt-page-ontop {
  z-index: 999;
}
.section-1 .page-transitions {
  margin: 85px 0 100px;
}
.section-1 .page-transitions .span3 {
  text-align: left;
}
.section-1 .pt-controls {
  position: absolute;
  bottom: -100px;
  left: 0;
  right: 0;
  text-align: center;
}
.section-1 .pt-controls .pt-indicators {
  list-style: none;
  margin: 0;
}
.section-1 .pt-controls .pt-indicators li {
  line-height: 1;
  display: inline-block;
  width: 9px;
  height: 9px;
  text-indent: -999px;
  background-color: rgba(127, 140, 141, 0.3);
  border-radius: 50%;
  cursor: pointer;
}
.section-1 .pt-controls .pt-indicators li + li {
  margin-left: 10px;
}
.section-1 .pt-controls .pt-indicators li.active {
  background-color: #1abc9c;
}
@media (max-width: 767px) {
  .section-1 .page-transitions .span3 {
    text-align: center;
  }
  .section-1 .page-transitions .span6 {
    margin: 40px 0;
  }
}
@media (max-width: 480px) {
  .section-1 {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.section-2 h3 {
  font-size: 34px;
  margin-bottom: 24px;
}
.section-2 .box-video {
  margin-top: 40px;
  font-size: 16px;
}
.section-2 .box-video p {
  font-size: 16px;
}
.section-2 .box-video h6 {
  font-size: 20px;
}
.section-2 .box-video .btns {
  text-align: center;
}
@media (max-width: 767px) {
  .section-2 .box-video .btns {
    text-align: left;
  }
}
.section-2 .box-video .btns .btn {
  min-width: 90%;
}
@media (max-width: 767px) {
  .section-2 .box-video .btns .btn {
    min-width: 0;
  }
}
.section-2 .box-video .btns .btn [class*="fui-"] {
  float: left;
  font-size: 22px;
}
.section-2 .box-video .btns .btn + .btn {
  margin-top: 15px;
}
@media (max-width: 767px) {
  .section-2 .box-video .btns .btn + .btn {
    margin: 0 0 0 15px;
  }
}
.section-2 .box-video .additional-links {
  margin-top: 20px;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
}
@media (max-width: 767px) {
  .section-2 .box-video .additional-links {
    text-align: left;
  }
}
.section-2 .box-video .additional-links a {
  text-decoration: underline;
  color: #7f8c8d;
}
.section-2 .box-video .additional-links a:hover,
.section-2 .box-video .additional-links a:focus,
.section-2 .box-video .additional-links a.active {
  color: #1abc9c;
}
@media (max-width: 480px) {
  .section-2 .box-video {
    width: 220px;
    margin: 40px auto 0;
  }
  .section-2 .box-video .player {
    margin-bottom: 40px;
  }
  .section-2 .box-video .btns {
    margin-top: 35px;
  }
  .section-2 .box-video .btns .btn {
    display: block;
  }
  .section-2 .box-video .btns .btn + .btn {
    margin: 16px 0 0;
  }
  .section-2 .box-video .additional-links {
    text-align: center;
    max-width: 170px;
    margin: 20px auto 0;
  }
}
.player {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  float: left;
  width: 220px;
  margin: 0 50px 10px 0;
}
@media (max-width: 767px) {
  .player {
    float: none;
    margin: 0 auto 10px;
  }
}
.player .btn-play {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  margin: -20px 0 0 -30px;
  padding-left: 16px;
  background-color: #16a085;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.player .btn-play:hover,
.player .btn-play:focus {
  background-color: #45b39d;
}
.player .btn-play:active,
.player .btn-play.active {
  background-color: #138871;
}
.player > iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}
.section-3 {
  border-top: 2px solid #ecf0f1;
}
.section-3 .container > img {
  display: block;
  margin: 0 auto 50px;
}
.section-3 h3 {
  margin: 0;
  font-size: 35px;
  text-align: center;
}
.section-3 h3 + .lead {
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}
@media (max-width: 480px) {
  .section-3 {
    padding-bottom: 40px;
  }
  .section-3 h3 {
    margin-bottom: 24px;
  }
}
.features > [class*="span"] {
  position: relative;
  margin-top: 40px;
}
.features > [class*="span"] > [class*="fui-"] {
  position: absolute;
  left: -60px;
  top: 5px;
  font-size: 34px;
  color: #bdc3c7;
}
@media (max-width: 767px) {
  .features > [class*="span"] > [class*="fui-"] {
    position: static;
    float: left;
    margin: -7px 20px 0 0;
  }
}
.features > [class*="span"] p {
  font-size: 16px;
}
.features > [class*="span"] h6 {
  font-size: 22px;
  margin-bottom: 14px;
}
.subscribe-form {
  padding-top: 40px;
  padding-bottom: 40px;
}
.subscribe-form .span4 {
  text-align: right;
}
@media (max-width: 767px) {
  .subscribe-form .span4 {
    text-align: center;
  }
}
.subscribe-form form {
  margin: 0;
  position: relative;
}
.subscribe-form input[type="text"] {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  line-height: 60px;
  font-size: 50px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #9fa8b0;
}
.subscribe-form input[type="text"]:-moz-placeholder {
  color: #9fa8b0;
}
.subscribe-form input[type="text"]::-webkit-input-placeholder {
  color: #9fa8b0;
}
.subscribe-form input[type="text"].placeholder {
  color: #9fa8b0;
}
.subscribe-form .ani-placeholder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  padding-left: 6px;
  line-height: 60px;
  font-size: 50px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #9fa8b0;
}
.subscribe-form .btn {
  margin-top: 8px;
  width: 220px;
  max-width: 100%;
}
.subscribe-form .btn.btn-primary {
  background-color: #16a085;
}
.subscribe-form .btn.btn-primary:hover,
.subscribe-form .btn.btn-primary:focus {
  background-color: #45b39d;
}
.subscribe-form .btn.btn-primary:active,
.subscribe-form .btn.btn-primary.active {
  background-color: #138871;
}
@media (max-width: 480px) {
  .subscribe-form input[type="text"],
  .subscribe-form .ani-placeholder {
    width: 100%;
    margin-bottom: 33px;
    line-height: 27px;
    font-size: 25px;
    text-align: center;
  }
}
footer {
  text-align: center;
}
footer a {
  color: #7f8c8d;
}
footer a:hover,
footer a:focus,
footer a.active {
  color: #1abc9c;
}
footer nav {
  margin-bottom: 22px;
}
footer nav ul {
  list-style: none;
  margin: 0;
  font-size: 16px;
}
footer nav ul li {
  display: inline-block;
  margin-left: 30px;
  line-height: normal;
}
footer nav ul li:first-child {
  margin-left: 0;
}
footer .additional-links {
  font-size: 12px;
}
footer .additional-links a {
  text-decoration: underline;
}
@media (max-width: 480px) {
  footer {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
  }
  footer nav {
    margin-bottom: 22px;
  }
  footer nav ul li {
    display: block;
    float: none;
    margin: 18px 0 0;
  }
  footer nav ul li:first-child {
    margin-top: 0;
  }
}
