
.mcontent .manual {  
      .transition(left 1s linear 0s);
      left:100%;     
      right:-100%;
      display: block;
      position: fixed;
      z-index: 999;
      min-height: 100%;         
      .box-sizing(border-box);
      .box-shadow(none);
      padding: 0;
      @media (max-width: 768px) { 
         padding: 0 12px;
        }
      overflow: auto;      
      top: 0;      
      background-color: #1B1E23;
      
      @media (max-width: 900px) {
        width: 100%;
      }
      
      > div {      
        /* prism twilight theme */
          @import '../prism/themes/twilight.less';
        /*end prism*/
        .transition(display 0s linear 2s);          
        .font(14px);
        overflow: visible;
        letter-spacing: normal;
        position: absolute;
        padding: 115px 130px 115px 166px;
        .box-sizing(border-box);
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        width: 100%;
        background-color: transparent;
        * {
          text-align: left;
          padding-top: 0;
          padding-bottom: 0;
        }
        .back-button {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
            border: 0 none;
            font-weight:800;
            .border-radius(100%);
            .font(20px,#394043);
            text-shadow:0 0 1px #32383b;
            float:left;            
            display: inline-block;    
            height: 38px;
            .line-height(0);
            padding: 0 0 2px;
            .box-sizing(border-box);
            margin: 0 0 0 -70px;
            text-align: center;
            width: 38px;           
            &:hover{
              .rotate(360deg);              
              -webkit-transition: -webkit-transform 0.5s ease 0s, border 0.2s ease 0.2s;
              -moz-transition: -moz-transform 0.5s ease 0s, border 0.2s ease 0.2s;
              -o-transition: -o-transform 0.5s ease 0s, border 0.2s ease 0.2s;
              transition: transform 0.5s ease 0s, border 0.2s ease 0.2s;              
              border: 3px solid;              
            }
        }

        .content-man {
          float: right;     
          width:100%;
          display: inline-block;
          .box-sizing(border-box);         
         
          h1 {
            .font(35px, white);
            .line-height(35px);
            font-weight:800;
            font-family:@h-font-family;
            margin-top:0;
            display: inline-block;
            margin-bottom: 0;            
          }
          h3 {
            .font(28px, white);
            font-family:@h-font-family;
            font-weight:300;
            margin-bottom: 48px;
            margin-top: 95px;                   
          }
          p {
            .font(19px, @asbestos);
            font-weight:300;
            font-family:@h-font-family;
            padding: 0;
            margin:0 0 48px 0;
            &:last-child{
              margin:0;
            }
          }
          > ol {
            counter-reset: li;
            list-style: none;
            margin: 0;
            > li {
              position: relative;

              &:before {
                background: none repeat scroll 0 0 #BDC3C7;
                .border-radius(100%);
                color: #1B1E23;
                content: counter(li, decimal);
                counter-increment: li;
                display: inline-block;
                float: left;
                font-family: @h-font-family;
                font-weight: bold;
                margin: 0 0 0 -66px;
                padding: 3px 9px;
                text-align: center;
              }
            }
          }

         strong {
            color: #f1c40f;
            font-weight: normal;
          }
          a {
            color: #f1c40f;
            font-weight: normal;
            text-decoration: underline;
            &:hover {
              color: #f1c40f;
              text-decoration: none;
            }
          }
          hr {
            color: #191a1b;
            border-top: 1px solid #191a1b;
            border-bottom: 1px solid #191a1b;
            margin: 53px 0 36px;
          }
          
          code[class*="language-"]{
              white-space:normal;
              display:inline-block;
              border:0 none;
              .border-radius(0);
          }
          
          pre[class*="language-"] {
            border:0 none;
            .border-radius(0);
            position:relative;
            max-height:400px;
            max-width:100%;
            margin:48px 0 95px;
            code[class*="language-"]{
              white-space:pre;
              display: block;
              border:0 none;
              .border-radius(0);
            }
          }
        
        }
        
        
      }
}

body:before{
  .transition(opacity 6s ease 0s);
  .opacity(0); 
  display:block;
  visibility:hidden;
  content:"";
  height:100%;
  width:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;  
  overflow:hidden;
  position:fixed;
  background:#1b1f23;
  z-index:850;
}

.read-manual {
  body:before{
    visibility:visible;
    .transition(opacity 1s ease 0s);     
    .opacity(95);
  }
  overflow: hidden;
  .dockbar{
    .transition(z-index 0s);
        z-index:840;
      }
  .container {
    margin-left: 10px;
  }
  .mcontent {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    > div {
      min-height: 100%;
    }
    .content-24 img.image {
      right: 70%;
    }   
    
    .manual{
      
      a.man-brand {
      display: inline-block;
      float:right;
      text-decoration: none;
      .line-height(45px);
      @media (max-width: 979px){
        .line-height(30px);
      }
      @media (max-width: 768px) {
        .line-height(65px);
        width: auto;
        margin-left: 20px;
      }
      .logotype {
        .font(16px, white);
        font-weight: 800;
        text-transform: uppercase;
      }
      .doc-title {
        text-transform: uppercase;
        .font(16px, #919497);
        font-weight: normal;
      }
    }
      
      
      
      -webkit-transition: left 1s linear 0s, -webkit-box-shadow 0.5s ease 1s;
      -moz-transition: left 1s linear 0s, -moz-box-shadow 0.5s ease 1s;
      -o-transition: left 1s linear 0s, -o-box-shadow 0.5s ease 1s;
      transition: left 1s linear 0s, box-shadow 0.5s ease 1s;            
      left:150px;
      right:0;
      @media (max-width: 900px) {
        left:0;        
      }      
      .box-shadow(-5px 0 10px rgba(0,0,0,0.2));
    }
  } 
}