@import '../../flat-ui-pro/less/config.less';
@import '../../flat-ui-pro/less/mixins.less';
@import '../../common-files/less/mixins.less';
@import '../../common-files/less/common.less';
@import '../../common-files/less/navbar.less';
@import '../../common-files/less/helper.less';


@import '../../ui-kit-blog/less/blog-common.less';
@import '../../ui-kit-blog/less/blog-1.less';
@import '../../ui-kit-blog/less/blog-2.less';
@import '../../ui-kit-blog/less/blog-3.less';
@import '../../ui-kit-blog/less/blog-4.less';
@import '../../ui-kit-blog/less/blog-5.less';


.dockbar.active{
  top:0;  right:0;  left:0;
  background-color:black;
  height:80px;
  padding:0;
  position:fixed;
  z-index:1000;
  .navbar.navbar-fixed-top{
    margin:0 auto;    
  }
  .navbar-inner{
    background-color:transparent;
    .desk{
      padding: 29px 0;
    }
  }
  
  @media (max-width: 979px) {
    .nav-collapse {
      padding-top: 0px;
      .navbar-collapse; 
    }         
  }
}

.dockbar.normal{
  top:0;  right:0;  left:0;
  position:fixed;
  background-color:transparent;
  height:10px;
  padding:0;
  z-index:1000;
  &:before{
    content: "\e054";
    font-family: Flat-UI-Icons;
    width: 50px;
    text-align: center;
    color: white;
    margin: 0 auto;
    display: block;
    background-color: black;
    .border-radius(0 0 100px 100px);
  }
  > * {
    display:none;
    height:0;
  }
}


.read-manual .container{
  margin-left:10px;
}
.read-manual .content{
  height:auto !important;
  height:100%;
  min-height:100%;  
  > div{
    min-height:100%;
  }
  .manual{
    display:block;
    position:fixed;
    z-index:100;
    min-height:100%;
    max-width:960px;
    min-width:400px;
    .box-sizing(border-box);
    padding: 30px;
    width:70%;
    top:0;     
    right:0;  
    background-color:#1B1E23;
  }  
}
.read-man{
    margin-top: 20px;
    position: absolute;
    right: 20px;
    z-index: 21;
    .border-radius(100%);
    height:30px;
    width:30px;
   // padding:0 0 0 2px;
}

.mask{
  display:none;
  &.active{
    display:block;
    background-color:#1B1E23;
    position:absolute;
    z-index:20;
    width:100%;
    text-align:center;
    
    .opacity(50);
    .hero-unit{
      background-color:transparent;
    }
    .hero-unit.hero-unit-bordered {
     
      h1 {
        .font(46px,white); font-weight: bold;
        border: 8px solid white;
        display: inline-block;
        margin: 0;
        padding: 30px 40px;
      }  
      @media (max-width: 480px) { h1 { .font(22px, white); } }
    }  
  }
}
