<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Content</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="../flat-ui-pro/images/favicon.ico">

        <link rel="stylesheet" href="../flat-ui-pro/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../flat-ui-pro/bootstrap/css/bootstrap-responsive.css">
        <link rel="stylesheet" href="../flat-ui-pro/css/flat-ui.css">
        <link rel="stylesheet" href="../common-files/css/animations.css">
        <link rel="stylesheet" href="../ui-kit-content/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="../flat-ui-pro/js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
<!-- start header startup-kit  -->
     <header>
            <div class="container">
                <a class="brand" href="#"><img src="../ui-kit-content/img/logo@2x.png" width="50" height="50"  alt=""> Startup</a>
            </div>
        </header>
        <section class="startup-kit_header">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <h1>We have a great surprise for Designmodo fans our first free HTML user interface kit.</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="span7">
                        <p>
                            It contains many basic and complex components which are great for designers to have at hand: buttons,
                            inputs, button groups, selects, checkboxes and radio-buttons, tags.
                        </p>
                    </div>
                </div>
            </div>
        </section>
<!-- end header startup-kit    -->

<div class="delimiter">&nbsp;</div>


<!-- content-1 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-1.html"
        <div class="delimiter line"></div>
<!-- content-2 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-2.html"
        <div class="delimiter line"></div>
<!-- content-3 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-3.html"
        <div class="delimiter line"></div>
<!-- content-4 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-4.html"
        <div class="delimiter line"></div>
<!-- content-5 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-5.html"
        <div class="delimiter line"></div>
<!-- content-6 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-6.html"
        <div class="delimiter line"></div>
<!-- content-7 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-7.html"
        <div class="delimiter line"></div>
<!-- content-8 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-8.html"
        <div class="delimiter line"></div>
<!-- content-9 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-9.html"
        <div class="delimiter line"></div>
<!-- content-10 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-10.html"
        <div class="delimiter line"></div>
<!-- content-11 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-11.html"
        <div class="delimiter line"></div>
<!-- content-12 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-12.html"
        <div class="delimiter line"></div>
<!-- content-13 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-13.html"
        <div class="delimiter line"></div>
<!-- content-14 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-14.html"
        <div class="delimiter line"></div>
<!-- content-15 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-15.html"
        <div class="delimiter line"></div>
<!-- content-16 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-16.html"
        <div class="delimiter line"></div>
<!-- content-17 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-17.html"
        <div class="delimiter line"></div>
<!-- content-18 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-18.html"
        <div class="delimiter line"></div>
<!-- content-19 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-19.html"
        <div class="delimiter line"></div>
<!-- content-20 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-20.html"
        <div class="delimiter line"></div>
<!-- content-21 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-21.html"
        <div class="delimiter line"></div>
<!-- content-22 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-22.html"
        <div class="delimiter line"></div>
<!-- content-23 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-23.html"
        <div class="delimiter line"></div>
<!-- content-24 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-24.html"
        <div class="delimiter line"></div>
<!-- content-25 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-25.html"
        <div class="delimiter line"></div>
<!-- content-26 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-26.html"
        <div class="delimiter line"></div>
<!-- content-27 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-27.html"
        <div class="delimiter line"></div>
<!-- content-28 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-28.html"
        <div class="delimiter line"></div>
<!-- content-29 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-29.html"
        <div class="delimiter line"></div>
<!-- content-30 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-30.html"
        <div class="delimiter line"></div>
<!-- content-31 -->        
include "../../ui-kit/ui-kit-content/for-tpl/content-31.html"
        <div class="delimiter line"></div>
<!-- content-32 -->
include "../../ui-kit/ui-kit-content/for-tpl/content-32.html"
<div class="delimiter line"></div>
<!-- content-33 -->
include "../../ui-kit/ui-kit-content/for-tpl/content-33.html"
<div class="delimiter line"></div>
<!-- content-34 -->
include "../../ui-kit/ui-kit-content/for-tpl/content-34.html"
<div class="delimiter line"></div>
<!-- content-35 -->
include "../../ui-kit/ui-kit-content/for-tpl/content-35.html"
<div class="delimiter line"></div>

        



<!-- Placed at the end of the document so the pages load faster -->
        <script src="../flat-ui-pro/js/jquery-1.8.3.min.js"></script>
        <script src="../flat-ui-pro/js/bootstrap.min.js"></script>
        <!--[if lt IE 8]>
        <script src="../flat-ui-pro/js/icon-font-ie7.js"></script>
        <![endif]-->
        <script src="../common-files/js/modernizr.custom.js"></script>
        <script src="../common-files/js/page-transitions.js"></script>
        <script src="../common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
        <script src="../common-files/js/jquery.parallax.min.js"></script>
        <script src="../common-files/js/easing.min.js"></script>
        <script src="../common-files/js/jquery.svg.js"></script>
        <script src="../common-files/js/jquery.svganim.js"></script>
        <!--<script src="../ui-kit-content/js/script.js"></script>-->
        <script src="../common-files/js/startup-kit.js"></script>
    </body>
</html>