/* 62px */
/* 52px */
/* 40px */
/* 29px */
/* 28px */
/* 24px */
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.drop-ie-gradient {
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
body {
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
body {
  color: #7f8c8d;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: 300;
}
h3 {
  font-weight: 300;
}
h6 {
  font-size: 18px;
}
.navbar .subnav {
  display: none;
}
@media (max-width: 979px) {
  .navbar .nav-collapse {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 72%;
    padding: 25px 0;
    border-radius: 0;
    float: none;
    height: auto!important;
    overflow: auto!important;
    background: #222527;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .navbar .nav-collapse::-webkit-scrollbar {
    display: none;
  }
  .navbar .nav-collapse > * {
    margin: 30px 0 0!important;
  }
  .navbar .nav-collapse > *:first-child {
    margin-top: 0!important;
  }
  .navbar .nav-collapse .nav > li {
    margin: 0;
  }
  .navbar .nav-collapse .nav > li > a {
    display: block!important;
    margin: 0;
    padding: 12px 35px;
    border-bottom: 2px solid #24292d;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: #5b5e61;
    text-transform: uppercase;
  }
  .navbar .nav-collapse .nav > li > a:hover,
  .navbar .nav-collapse .nav > li > a:focus,
  .navbar .nav-collapse .nav > li > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .nav > li.active > a {
    color: #ffffff;
  }
  .navbar .nav-collapse .nav > li.active > a:hover,
  .navbar .nav-collapse .nav > li.active > a:focus,
  .navbar .nav-collapse .nav > li.active > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .subnav {
    display: block;
    list-style: none;
  }
  .navbar .nav-collapse .subnav li > a {
    display: block;
    margin: 0;
    padding: 7px 35px;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #5b5e61;
    text-transform: capitalize;
  }
  .navbar .nav-collapse .subnav li > a:hover,
  .navbar .nav-collapse .subnav li > a:focus,
  .navbar .nav-collapse .subnav li > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .navbar-form,
  .navbar .nav-collapse .navbar-search {
    padding: 10px 35px;
  }
  body > *,
  .navbar .nav-collapse {
    -webkit-transition: left 0.4s;
    -moz-transition: left 0.4s;
    -o-transition: left 0.4s;
    transition: left 0.4s;
  }
  .nav-visible body > * {
    left: -72% !important;
  }
  .nav-visible .navbar .nav-collapse {
    left: 28%!important;
    visibility: visible;
  }
}
.navbar {
  margin: 10px 0 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar .navbar-form,
.navbar .navbar-search {
  margin: 0;
  padding: 20px 0 19px 35px;
}
.navbar .btn,
.navbar .btn-group {
  margin-top: -1px;
}
.navbar .btn {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
}
.navbar .btn.btn-primary {
  background-color: #16a085;
}
.navbar .btn.btn-primary:hover,
.navbar .btn.btn-primary:focus {
  background-color: #45b39d;
}
.navbar .btn.btn-primary:active,
.navbar .btn.btn-primary.active {
  background-color: #138871;
}
.navbar .navbar-inner {
  background: none;
}
.navbar .brand {
  padding-left: 0;
  font-weight: 800;
  font-size: 25px;
  color: #2c3e50!important;
}
.navbar .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
.navbar .nav > li {
  margin-left: 25px;
}
.navbar .nav > li:first-child {
  margin-left: 0;
}
.navbar .nav > li > a {
  padding: 29px 0 27px;
  font-weight: 500;
  font-size: 14px;
  color: #95a5a6;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav > li > a.active {
  color: #1abc9c;
}
.navbar .nav > li.active > a {
  color: #1abc9c;
}
.navbar .nav > li.active > a:hover,
.navbar .nav > li.active > a:focus,
.navbar .nav > li.active > a.active {
  color: #1abc9c;
}
.navbar .btn-navbar {
  margin: 28px 0 17px;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  background: none!important;
  color: #2c3e50;
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar.active {
  color: #1abc9c;
}
@media (max-width: 979px) {
  .navbar .nav-collapse {
    padding-top: 28px;
  }
}
body > section,
header,
footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
body > section {
  padding-top: 130px;
  padding-bottom: 130px;
}
@media (max-width: 480px) {
  body > section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
h3 {
  margin: 0 0 20px;
  font-size: 30px;
}
p {
  font-size: 16px;
  line-height: 1.85;
}
a {
  color: #16a085;
}
a:hover,
a:focus,
a.active {
  color: #1abc9c;
}
.btn.btn-primary {
  background-color: #16a085;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background-color: #45b39d;
}
.btn.btn-primary:active,
.btn.btn-primary.active {
  background-color: #138871;
}
.bg-midnight-blue h1,
.bg-midnight-blue .h1,
.bg-midnight-blue h2,
.bg-midnight-blue .h2,
.bg-midnight-blue h3,
.bg-midnight-blue .h3,
.bg-midnight-blue h4,
.bg-midnight-blue .h4,
.bg-midnight-blue h5,
.bg-midnight-blue .h5,
.bg-midnight-blue h6,
.bg-midnight-blue .h6 {
  color: #fff;
}
.wide {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding-right: 20px;
  padding-left: 20px;
}
@media (max-width: 767px) {
  .wide {
    margin-right: -20px;
    margin-left: -20px;
  }
}
.btn-wide {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 40px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #ffffff;
  background: #1abc9c;
  -webkit-transition: 0.25s color, 0.25s background-color;
  -moz-transition: 0.25s color, 0.25s background-color;
  -o-transition: 0.25s color, 0.25s background-color;
  transition: 0.25s color, 0.25s background-color;
}
.btn-wide:hover,
.btn-wide:focus,
.btn-wide.active {
  color: #ffffff;
}
.btn-wide:hover,
.btn-wide:active {
  background: #e74c3c;
}
.section-1 {
  background-image: url('../img/img-1.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #bdc3c7;
  padding-top: 180px;
  padding-bottom: 100px;
}
@media (max-width: 480px) {
  .section-1 {
    padding-top: 100px;
    background-attachment: scroll;
    background-position: 50% 50%!important;
  }
}
.section-2 .btns {
  margin-top: 45px;
  font-size: 16px;
}
.section-2 .btns .btn {
  padding: 9px 17px 10px 15px;
}
.section-2 .btns .btn > [class^="fui-"] {
  font-size: 26px;
  margin: 0 12px 0 0;
}
@media (max-width: 767px) {
  .section-2 .btns {
    margin-top: 25px;
  }
  .section-2 .span5.offset1 {
    margin-top: 45px;
  }
}
.player {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #f2f3f4;
  position: relative;
  overflow: hidden;
  height: 250px;
}
.player .btn-play {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 60px;
  padding-left: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.section-3 {
  overflow: hidden;
  padding-top: 125px;
  padding-bottom: 0;
  background: #f9f9fa;
  text-align: center;
}
.section-3 .span10 > img {
  width: 100%;
  margin-top: 50px;
  position: relative;
}
@media (max-width: 480px) {
  .section-3 {
    padding-top: 100px;
  }
}
.section-4 {
  padding-bottom: 0;
}
.section-4 .span3 {
  margin-top: 50px;
}
@media (max-width: 767px) {
  .section-4 .span3 {
    margin-top: 20px;
  }
}
.section-5 {
  padding-top: 110px;
  padding-bottom: 110px;
}
@media (max-width: 480px) {
  .section-5 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.features > * {
  position: relative;
  text-align: center;
}
.features .description-top,
.features .description-bottom {
  position: absolute;
  width: 100%;
  text-align: left;
}
.features .description-top {
  top: 0;
}
.features .description-bottom {
  bottom: 0;
}
.features .description-top,
.features .description-bottom,
.features .img img + img {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
.features > *:hover .description-top,
.features > *:hover .description-bottom,
.features > *:hover .img img + img {
  opacity: 1;
  filter: alpha(opacity=100);
}
.features .img {
  position: relative;
  display: inline-block;
  margin: 150px auto;
}
.features .img img + img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.features h6 {
  color: #1abc9c;
}
.features img[src*="arrow-"] {
  position: absolute;
}
.features img[src*="arrow-tl"] {
  right: 110%;
  top: 30px;
}
.features img[src*="arrow-tr"] {
  left: 110%;
  top: 30px;
}
.features img[src*="arrow-bl"] {
  right: 110%;
  bottom: 20px;
}
.features img[src*="arrow-br"] {
  left: 110%;
  bottom: 20px;
}
.features .box-1 .description-top,
.features .box-2 .description-top {
  left: 105%;
}
.features .box-3 .description-top,
.features .box-4 .description-top {
  right: 105%;
}
.features .box-1 .description-bottom,
.features .box-3 .description-bottom {
  left: 105%;
}
.features .box-2 .description-bottom,
.features .box-4 .description-bottom {
  right: 105%;
}
@media (max-width: 767px) {
  .features .description-top,
  .features .description-bottom {
    position: static;
    text-align: center;
  }
  .features .img {
    margin: 50px auto;
  }
  .features img[src*="arrow-"] {
    display: none;
  }
}
@media (max-width: 480px) {
  .features .description-top,
  .features .description-bottom,
  .features .img img + img {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .features > * + * {
    margin-top: 50px;
  }
  .features .img {
    margin: 0 auto 15px;
  }
  .features .description-top,
  .features .description-bottom {
    width: 220px;
    margin: 0 auto;
    text-align: left;
  }
  .features h6 {
    margin-bottom: 5px;
  }
}
.section-6 {
  background-image: url('../img/img-1.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #bdc3c7;
  padding-top: 250px;
  padding-bottom: 250px;
  text-align: center;
}
.section-6 .container > img {
  margin-bottom: 50px;
}
.section-6 .lead {
  font-size: 15px;
  font-weight: bold;
  color: #1abc9c;
}
@media (max-width: 480px) {
  .section-6 {
    padding-top: 100px;
    padding-bottom: 100px;
    background-attachment: scroll;
    background-position: 50% 50%!important;
  }
}
.section-7 {
  padding-bottom: 0;
}
.section-7 .span3 {
  margin-top: 50px;
}
@media (max-width: 767px) {
  .section-7 .span3 {
    margin-top: 20px;
  }
}
.section-7 .btn-wide {
  margin-top: 130px;
}
@media (max-width: 480px) {
  .section-7 .btn-wide {
    margin-top: 100px;
    font-size: 25px;
  }
}
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
footer .brand {
  font-size: 20px;
  font-weight: 800;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #ffffff;
}
footer .brand:hover,
footer .brand:focus,
footer .brand.active {
  color: #1abc9c;
}
